::-webkit-scrollbar {
width: 10px;
}
::-webkit-scrollbar-track {
background: #fff;
-webkit-box-shadow: inset 1px 1px 2px rgb(237, 238, 240);
}
::-webkit-scrollbar-thumb {
background: #edeef0;
-webkit-box-shadow: inset 1px 1px 2px rgba(255, 255, 255, 0.2);
}

body::-webkit-scrollbar {
    width: 1em;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px 2px rgba(0,0,0,0.3);
    background:none; 
        opacity:.7;
}
 
body::-webkit-scrollbar-thumb {
  border-radius: 1px;	
  background: none; 
 -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  cursor: pointer;
}

.page-inject * {
    box-sizing: border-box;
    -webkit-transition: all 0.24s cubic-bezier(0.55, 0, 0.1, 1);
    -moz-transition: all 0.24s cubic-bezier(0.55, 0, 0.1, 1);
    -o-transition: all 0.24s cubic-bezier(0.55, 0, 0.1, 1);
    transition: all 0.24s cubic-bezier(0.55, 0, 0.1, 1);
	
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.page-inject .parallax-wrap {
    position: relative;
    overflow: hidden;
    height: 630px;
    background: url(../images/bg.png) center top no-repeat #13adc0;
}

.page-inject .parallax-port {
    position: absolute;
    top: -10px;
    left: 50%;
    margin-left: -1280px;
    width: 2560px;
    height: 650px;
}

.page-inject .parallax-port .parallax-layer-1 {
    width: 2757px;
    height: 700px;
}

.page-inject .parallax-port .parallax-layer-2 {
    width: 2510px;
    height: 648px;
}

.page-inject .parallax-port .parallax-layer-3 {
    width: 2484px;
    height: 668px;
}

.page-inject .parallax-port [class^="parallax-layer"] {
    position: absolute;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
    -o-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    pointer-events: none;
}

.page-inject .parallax-wrap .rabbit {
    position: absolute;
    z-index: 5;
    bottom: 0;
    left: 50%;
    margin-left: -480px;
    margin-bottom: -40px;
    width: 174px;
    height: 269px;
    background: url(../images/rabbit.png) 0 0 no-repeat transparent;
    pointer-events: none;
}

.page-inject .content {
    background-color: #fff;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    color: #3e3e3e;
}

.page-inject .block-1 {
    padding: 1px 0;
    padding-top: 3px;
    background-size: 98% 100%;
}

.page-inject .container {
    position: relative;
    width: 1100px;
    margin: auto;
    padding: 0 0 0 0;
}

.clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .container-compact:before, .container-compact:after, .row:before, .row:after {
    content: " ";
    display: table;
}

.page-inject .block-1 .h2 {font-weight: 700;margin-bottom: 10px;font-size: 25px;}
.page-inject .h2 {
    font-size: 40px;
}
.page-inject .h1, .page-inject .h2 {
    line-height: 1.2em;
    font-weight: 500;
    color: #12a1b2;
    text-transform: uppercase;
    margin-top: 20px;
}

.page-inject .block-1 p {
    margin-top: 8px;
    letter-spacing: 0.02em;
    line-height: 28px;
    margin-bottom: 10px;
}
.page-inject p {
    font-size: 20px;
    line-height: 1.20833333em;
    font-weight: 400;
    letter-spacing: -0.003em;
}

h3 {margin-top: 10px;margin-bottom: 10px;}

.tn-box p:before {
    text-align: center;
    border: 3px solid rgb(255, 255, 255);
    margin-top: -18px;
    top: 50%;
    left: 13px;
    width: 30px;
    content: "i";
    font-size: 20px;
    color: rgb(255, 255, 255);
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    text-transform: none;
    font-weight: bold;
    position: absolute;
}
.tn-box-color-1 {
    background: #13adc0;
    border-bottom: 1px solid #1691a0;
}
.tn-box {
    position: relative;
    margin: 10px auto 10px auto;
    text-align: left;
    border-radius: 4px;
    cursor: default;
    font-weight: 500;
}

.sign-up {
    position: relative;
	display: inline-block;
	width: 40%;
    padding: 20px;
    background: white;
    border-bottom: 1px solid #c4c4c4;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}
.sign-up:before, .sign-up:after {
  content: '';
  position: absolute;
  bottom: 1px;
  left: 0;
  right: 0;
  height: 10px;
  background: inherit;
  border-bottom: 1px solid #d2d2d2;
  border-radius: 4px;
}
.sign-up:after {
  bottom: 3px;
  border-color: #dcdcdc;
}

.sign-up-title {
  margin: -25px -25px 25px;
  padding: 15px 25px;
  line-height: 35px;
  font-size: 26px;
  font-weight: 500;
  color: #484847;
  text-align: center;
  background: #f7f7f7;
  font-family: 'Open Sans', sans-serif;
}
.sign-up-title:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 8px;
  background: #c4e17f;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

input {
  font-family: inherit;
  color: inherit;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.sign-up-input {
  width: 100%;
  height: 50px;
  margin-bottom: 25px;
  padding: 0 15px 2px;
  font-size: 17px;
  background: white;
  border: 2px solid #ebebeb;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 -2px #ebebeb;
  box-shadow: inset 0 -2px #ebebeb;
}
.sign-up-input:focus {
  border-color: #62c2e4;
  outline: none;
  -webkit-box-shadow: inset 0 -2px #62c2e4;
  box-shadow: inset 0 -2px #62c2e4;
}
.lt-ie9 .sign-up-input {
  line-height: 48px;
}

.sign-up-button {
  position: relative;
  vertical-align: top;
  width: 100%;
  height: 47px;
  padding: 0;
  text-transform: uppercase;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  color: white;
  text-align: center;
  background: #ffb51c;
  border: 0;
  border-bottom: 2px solid #e4a014;
  border-radius: 3px;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #ffb51c;
  box-shadow: inset 0 -2px #ffb51c;
  font-weight: 600;
}
.sign-up-button:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}


.carsBlock {
    background: rgba(255, 255, 255, 0);
}
.carsBlock {
    height: 295px;
    margin: 3px 0 0;
    border: #f0f1f6 1px solid;
    border-top: 0;
    border-bottom: 0;
    padding: 0 70px;
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
}



.carsBlock h1 {
    font-family: 'open sans';
    font-size: 20px;
    font-weight: 600;
    color: #010101;
    text-align: center;
    padding-top: 30px;
    text-transform: uppercase;
}

.carsBlock h1:before {
    display: inline-block;
    background: url(../../https@paper-island.biz/images/taxi-icon.png) no-repeat;
    content: " ";
    height: 17px;
    width: 32px;
    padding-left: 15px;
    top: 26px;
}

.carsBlock h1:after {
    display: inline-block;
    background: url(../../https@paper-island.biz/images/taxi-icon2.png) no-repeat;
    content: " ";
    height: 17px;
    width: 32px;
    top: 26px;
    margin-left: 12px;
}


.carsBlock .arrow.aLeft {
    background: url(../images/fp_sprites.png) -350px -423px no-repeat;
    left: 17px;
}
.carsBlock .arrow {
    width: 45px;
    height: 53px;
    cursor: pointer;
    top: 130px;
    position: absolute;
    z-index: 1;
}

.carsBlock .arrow.aRight {
    background: url(../images/fp_sprites.png) -405px -423px no-repeat;
    right: 17px;
}

.carsBlock .carsArea {
    width: 100%;
    padding-top: 1px;
    overflow: hidden;
}

.carsBlock .carsArea .carsPlane {
    width: 1100px;
    position: relative;
    padding: 0 0 0 10px;
    margin: 0 auto;
}

.carsBlock .car {
    float: left;
    margin-right: 50px;
    position: relative;
    width: 220px;
    margin-top: 30px;
}

.carsBlock .car .cImage {
    width: 210px;
    height: 210px;
    overflow: hidden;
    margin-left: 50px;
    background-color: #ffffff;
    cursor: pointer;
    border-radius: 50%;
    -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.16);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.16);
}

.img-vertical {
    height: 100%;
    position: relative;
    display: block;
    overflow: visible;
    font-size: 0;
    line-height: 0;
    text-align: center;
}

.img-vertical:before {
    content: " ";
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.carsBlock .car .cImage img {
    width: 90%;
    height: auto;
    margin-top: 15px;
}

.carsBlock .car .cLevel {
    background: #ffb51c;
    width: 80px;
    height: 80px;
    display: inline-block;
    position: absolute;
    left: -0px;
    top: 14px;
    color: #fff;
    text-align: center;
    font-family: 'Cuprum', sans-serif;
    text-transform: uppercase;
    border-radius: 50%;
    border-bottom: 3px solid #e4a014;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
}

.carsBlock .car .cLevel {
    line-height: 1.3;
}

.carsBlock .car .cLevel b {
    font-family: 'open sans';
    font-size: 20px;
    font-weight: 600;
    display: block;
    color: #ffffff;
    margin-top: 15px;
}

.carsBlock .car .cInfo {
    overflow: hidden;
    margin-bottom: 14px;
    text-align: center;
    float: left;
    margin-left: 30px;
    margin-top: 15px;
}

.carsBlock .car .cInfo .cPrice {
    color: #232323;
    font-size: 14px;
    float: left;
    text-align: right;
    white-space: nowrap;
    font-family: 'open sans';
    font-weight: 600;
    text-transform: uppercase;
}

.carsBlock .car .cInfo .cDesc {
    margin-left: 115px;
    font-family: 'open sans';
}

.carsBlock .car .cBuy {
    text-align: center;
}

.carsBlock .car .cBuy .buyButton {
    line-height: 40px;
    font-size: 18px;
}
.blueButton {
    background-color: #13adc0;
    border-bottom: 3px solid #1691a0;
    text-align: center;
    font-family: Cuprum,sans-serif;
    text-transform: uppercase;
    color: #fff!important;
    text-decoration: none!important;
    display: inline-block;
    border-radius: 50%;
    box-shadow: 0 2px 2px rgba(0,0,0,.1);
    line-height: 34px;
    height: 34px;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    margin-top: -110px;
    width: 40px;
    margin-left: -214px;
    height: 40px;
}

.blueButton:hover {
    background: #84cbfb;
    background: linear-gradient(to bottom,#84cbfb 0,#3a8bf8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#84cbfb', endColorstr='#3a8bf8', GradientType=0);
    color: #fff;
}

.footer {
    text-align: center;
    padding: 55px 0 40px 0;
    background: url(../images/tips.jpg) center top no-repeat #ffffff;
}

.footer .footer--bottom .footer--bottom_text {
    line-height: 20px;
    font-size: 18px;
    color: #ffffff;
    width: 982px;
    text-align: center;
    margin: 0 auto;
    font-weight: 600;
    text-shadow: 1px 1px 1px rgba(11, 29, 35, 0.06);
    font-family: 'open sans';
    padding-bottom: 30px;
    padding-top: 50px;
    letter-spacing: 1px;
}





.page-inject {
flex: 1 0 auto;
}

.carsBlock .car .cLeve2 {
    position: absolute;
    left: 30px;
    top: 215px;
    color: #232323;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 12px;
}

.col-md-6 {
    width: 50%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.course__price {
    font-size: 14px;
    font-weight: 400;
    padding: 24px 23px 22px;
    color: #484847;
    background-color: #ECFAFF;
    box-shadow: inset 0 1px 3px rgba(220, 233, 243, .83);
}

.course__price-item {
    position: relative;
    margin-bottom: 22px;
}


.course__price-item:after {
    display: table;
    clear: both;
    content: '';
}

.course__price-value {
    float: right;
    font-size: 15px;
    line-height: 11px;
    color: #ffffff;
    border: 1px solid #ffb51c;
    border-radius: 2px;
    background: #ffb51c;
    font-weight: bold;
    padding: 5px 10px 5px 10px;
    z-index: 10;
    font-family: 'Open Sans', sans-serif;
    border-bottom: 2px solid #e4a014;
}

.course__price-kind {
    float: left;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    border-bottom: 1px dashed #484847;
    padding-top: 1px;
}

.course__price-item:last-child {
    margin-bottom: 0;
}

.layer {
    overflow-y: scroll;
    width: 445px;
    height: 505px;
    padding: 5px;
}
.textstr{
	width: 100%;
	text-align: left;
	margin: 15px 0;
	padding: 0 15px;
	color: #272727;
}
.textstrred{
	width: 100%;
	text-align: left;
	padding: 0 15px;
	font-family: 'HelveticaBold', Arial, Tahoma, sans-serif;
	font-weight: normal;
	color: #e80000;
}
.game1{
	width: 100%;
	height: 164px;
	background: url(../images/game1.jpg) no-repeat;
	background-size: cover;
}
.game{
	width: 180px;
	margin: 45px 24px 0 0;
	padding: 7px;
	border: 1px solid #dadada;
}
.game:hover{
	border: 1px solid #a5a5a5;
	cursor: pointer;
}
.namegame{
	width: 100%;
	text-align: center;
	font-family: 'HelveticaBold', Arial, Tahoma, sans-serif;
	font-weight: normal;
	color: #272727;
	font-size: 20px;
	margin: 15px 0 7px 0;
}

th{
	text-align:left
}

.table{
	width:100%;
	max-width:100%;
	margin-bottom:20px
}

.table>tbody>tr>td,.table>tbody>tr>th,.table>tfoot>tr>td,.table>tfoot>tr>th,.table>thead>tr>td,.table>thead>tr>th{
	padding:8px;
	line-height:1.42857143;
	vertical-align:top;
	border-top: 1px solid #ddd;
	color: #484847;
	font-weight: 600;
	font-family: 'open sans';
	line-height: 30px;
	font-size: 14px;
}

.table>thead>tr>th{
	vertical-align:bottom;
	border-bottom:2px solid #ddd
}

.table>caption+thead>tr:first-child>td,.table>caption+thead>tr:first-child>th,.table>colgroup+thead>tr:first-child>td,.table>colgroup+thead>tr:first-child>th,.table>thead:first-child>tr:first-child>td,.table>thead:first-child>tr:first-child>th{
	border-top:0
}

.table>tbody+tbody{
	border-top:2px solid #ddd
}

.table .table{
	background-color:#fff
}

.table-condensed>tbody>tr>td,.table-condensed>tbody>tr>th,.table-condensed>tfoot>tr>td,.table-condensed>tfoot>tr>th,.table-condensed>thead>tr>td,.table-condensed>thead>tr>th{
	padding:5px
}

.table-bordered{border: 1px solid #ddd;}

table {
    background-color: transparent;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
}

.table-bordered>tbody>tr>td,.table-bordered>tbody>tr>th,.table-bordered>tfoot>tr>td,.table-bordered>tfoot>tr>th,.table-bordered>thead>tr>td,.table-bordered>thead>tr>th{
	border:1px solid #ddd
}

.table-bordered>thead>tr>td,.table-bordered>thead>tr>th{
	border-bottom-width:2px
}

.table-striped>tbody>tr:nth-of-type(odd){
	background-color:#f9f9f9
}

.table-hover>tbody>tr:hover{
	background-color:#f5f5f5
}

table col[class*=col-]{
	position:static;
	display:table-column;
	float:none
}

table td[class*=col-],table th[class*=col-]{
	position:static;
	display:table-cell;
	float:none
}

.table>tbody>tr.active>td,.table>tbody>tr.active>th,.table>tbody>tr>td.active,.table>tbody>tr>th.active,.table>tfoot>tr.active>td,.table>tfoot>tr.active>th,.table>tfoot>tr>td.active,.table>tfoot>tr>th.active,.table>thead>tr.active>td,.table>thead>tr.active>th,.table>thead>tr>td.active,.table>thead>tr>th.active{
	background-color:#f5f5f5
}

.table-hover>tbody>tr.active:hover>td,.table-hover>tbody>tr.active:hover>th,.table-hover>tbody>tr:hover>.active,.table-hover>tbody>tr>td.active:hover,.table-hover>tbody>tr>th.active:hover{
	background-color:#e8e8e8
}

.table>tbody>tr.success>td,.table>tbody>tr.success>th,.table>tbody>tr>td.success,.table>tbody>tr>th.success,.table>tfoot>tr.success>td,.table>tfoot>tr.success>th,.table>tfoot>tr>td.success,.table>tfoot>tr>th.success,.table>thead>tr.success>td,.table>thead>tr.success>th,.table>thead>tr>td.success,.table>thead>tr>th.success{
	background-color:#dff0d8
}

.table-hover>tbody>tr.success:hover>td,.table-hover>tbody>tr.success:hover>th,.table-hover>tbody>tr:hover>.success,.table-hover>tbody>tr>td.success:hover,.table-hover>tbody>tr>th.success:hover{
	background-color:#d0e9c6
}

.table>tbody>tr.info>td,.table>tbody>tr.info>th,.table>tbody>tr>td.info,.table>tbody>tr>th.info,.table>tfoot>tr.info>td,.table>tfoot>tr.info>th,.table>tfoot>tr>td.info,.table>tfoot>tr>th.info,.table>thead>tr.info>td,.table>thead>tr.info>th,.table>thead>tr>td.info,.table>thead>tr>th.info{
	background-color:#d9edf7
}

.table-hover>tbody>tr.info:hover>td,.table-hover>tbody>tr.info:hover>th,.table-hover>tbody>tr:hover>.info,.table-hover>tbody>tr>td.info:hover,.table-hover>tbody>tr>th.info:hover{
	background-color:#c4e3f3
}

.table>tbody>tr.warning>td,.table>tbody>tr.warning>th,.table>tbody>tr>td.warning,.table>tbody>tr>th.warning,.table>tfoot>tr.warning>td,.table>tfoot>tr.warning>th,.table>tfoot>tr>td.warning,.table>tfoot>tr>th.warning,.table>thead>tr.warning>td,.table>thead>tr.warning>th,.table>thead>tr>td.warning,.table>thead>tr>th.warning{
	background-color:#fcf8e3
}

.table-hover>tbody>tr.warning:hover>td,.table-hover>tbody>tr.warning:hover>th,.table-hover>tbody>tr:hover>.warning,.table-hover>tbody>tr>td.warning:hover,.table-hover>tbody>tr>th.warning:hover{
	background-color:#faf2cc
}

.table>tbody>tr.danger>td,.table>tbody>tr.danger>th,.table>tbody>tr>td.danger,.table>tbody>tr>th.danger,.table>tfoot>tr.danger>td,.table>tfoot>tr.danger>th,.table>tfoot>tr>td.danger,.table>tfoot>tr>th.danger,.table>thead>tr.danger>td,.table>thead>tr.danger>th,.table>thead>tr>td.danger,.table>thead>tr>th.danger{
	background-color:#f2dede
}

.table-hover>tbody>tr.danger:hover>td,.table-hover>tbody>tr.danger:hover>th,.table-hover>tbody>tr:hover>.danger,.table-hover>tbody>tr>td.danger:hover,.table-hover>tbody>tr>th.danger:hover{
	background-color:#ebcccc
}

.table-responsive{
	min-height:.01%;
	overflow-x:auto
}
.pred {
	color: #d20000;
	font-size: 15px;
	width: 100%;
	margin: 35px 0 0 0;
	padding: 0 70px;
	font-family: 'HelveticaBold', Arial, Tahoma, sans-serif;
	font-weight: normal;
}
@media screen and (max-width:767px){
	.table-responsive{
		width:100%;
		margin-bottom:15px;
		overflow-y:hidden;
		-ms-overflow-style:-ms-autohiding-scrollbar;
		border:1px solid #ddd
	}

	.table-responsive>.table{
		margin-bottom:0
	}

	.table-responsive>.table>tbody>tr>td,.table-responsive>.table>tbody>tr>th,.table-responsive>.table>tfoot>tr>td,.table-responsive>.table>tfoot>tr>th,.table-responsive>.table>thead>tr>td,.table-responsive>.table>thead>tr>th{
		white-space:nowrap
	}

	.table-responsive>.table-bordered{
		border:0
	}

	.table-responsive>.table-bordered>tbody>tr>td:first-child,.table-responsive>.table-bordered>tbody>tr>th:first-child,.table-responsive>.table-bordered>tfoot>tr>td:first-child,.table-responsive>.table-bordered>tfoot>tr>th:first-child,.table-responsive>.table-bordered>thead>tr>td:first-child,.table-responsive>.table-bordered>thead>tr>th:first-child{
		border-left:0
	}

	.table-responsive>.table-bordered>tbody>tr>td:last-child,.table-responsive>.table-bordered>tbody>tr>th:last-child,.table-responsive>.table-bordered>tfoot>tr>td:last-child,.table-responsive>.table-bordered>tfoot>tr>th:last-child,.table-responsive>.table-bordered>thead>tr>td:last-child,.table-responsive>.table-bordered>thead>tr>th:last-child{
		border-right:0
	}

	.table-responsive>.table-bordered>tbody>tr:last-child>td,.table-responsive>.table-bordered>tbody>tr:last-child>th,.table-responsive>.table-bordered>tfoot>tr:last-child>td,.table-responsive>.table-bordered>tfoot>tr:last-child>th{
		border-bottom:0
	}

}

.bright {
    border-radius: 4px;
    width: 800px;
    float: right;
}

.col-xs-3 {
    width: 24.3%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 20px;
}

.panel-leftbar {
    box-shadow: inset 0 0 0 10px #fff, inset 0 0 0 11px #ffffff, 0 1px 59px rgba(0, 26, 51, .2) !important;
    padding: 5px;
}
.panel {
    margin-bottom: 20px;
    border: 1px solid transparent;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.tableeggs{
	width: 400px;
	border: none;
}
.tableeggs td{
	border: none;
	text-align: center;
	padding: 7px;
	font-family: 'HelveticaBold', Arial, Tahoma, sans-serif;
	font-weight: normal;
	color: #272727;
}
.serlink2{
	padding: 4px 12px;
	background: #e6e6e6;
	border-radius: 2px;
    font-family: 'HelveticaBold', Arial, Tahoma, sans-serif;
    font-weight: normal;
	color:#272727;
}
.zddimg{
	width: 27px;
	height: 37px;
}
.zdd1{
	background: url(../images/flat.png) no-repeat;
	background-size: cover;
}
.panel-leftbar > .title-box {
    position: relative;
    height: 30px;
    line-height: 30px;
    background: #13adc0;
    margin-top: 10px;
    margin-left: -11px;
    margin-bottom: 10px;
    padding-left: 10px;
    color: #fff;
    width: 80%;
    z-index: 10;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 600;
}
.title-box {
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -web-kit-user-select: none;
}

.ul-box {
    transition: all .3s;
}

.panel-leftbar > .title-box:before {
    position: absolute;
    content: '';
    left: 0;
    top: 30px;
    border: 10px solid transparent;
    border-top: 5px solid #066f7b;
    border-right: 1px;
}

.panel-leftbar > .title-box:after {
    position: absolute;
    content: '';
    right: -10px;
    top: 0;
    border: 15px solid #13adc0;
    border-right: 10px solid transparent;
    border-left: 1px;
}

.nav-leftbar {
    transition: all .3s;
    margin-top: 0px;
}
.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-leftbar > li > a {
    margin: 2px 0px 0px 0px;
    height: 35px;
    line-height: 35px;
    padding: 0px 0px 0px 10px;
    border-radius: 0px;
    color: #484847;
    font-size: 14px !important;
    font-weight: 600;
}

.nav>li>a {
    position: relative;
    display: block;
}

.bt1 {
    padding: 5px 10px;
    background: #13adc0;
    text-transform: uppercase;
    font-size: 13px;
    color: #fff !important;
    border-bottom: 2px solid #1198a9;
    border-radius: 2px;
}

.bt2 {
    padding: 5px 10px;
    background: #5eb64f;
    text-transform: uppercase;
    font-size: 13px;
    color: #fff !important;
    border-bottom: 2px solid #3fa750;
    border-radius: 2px;
}

.nav-leftbar > li > a:hover, .nav-leftbar > li > a:active, .nav-leftbar > li > a:focus, .nav-leftbar > li > a:active:hover, .nav-leftbar > li > a:focus:hover {
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
}

.bright .fishes {
    position: relative;
    margin-top: 20px;
    overflow: hidden;
    padding-bottom: 50px;
}

.col-md-44 {
    width: 20%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.bright .fishes  img {
    height: auto;
    max-width: 80%;
    vertical-align: middle;
    border: 0;
    margin-left: 10px;
    margin-top: 15px;
}

.bright .fishes .panel-body p {
    border-radius: 50%;
    position: absolute;
    font-size: 14px;
    font-weight: bold;
    margin-top: 25px;
    width: 110px;
}

.bright .fishes .panel {
    padding: 10px 0px 0px 10px;
    border-radius: 50%;
    -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.16);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.16);
    width: 130px;
    height: 130px;
}

.about-block {background: #ffb51c;width: 60px;height: 60px;display: inline-block;position: absolute;left: -0px;top: 10px;color: #fff;text-align: center;font-family: 'Cuprum', sans-serif;text-transform: uppercase;border-radius: 50%;border-bottom: 3px solid #e4a014;font-family: 'Open Sans', sans-serif;font-weight: 600;font-size: 14px;}

.box .inner {
    padding: 0px 0px 10px 0px;
    position: relative;
    overflow: hidden;
    line-height: 28px;
    margin: 0;
    font-family: 'open sans';
}

.box .inner h3 {
    line-height: 2;
    height: 20px;
    margin-top: 0px;
    display: block;
    color: #484847;
    font-size: 16px;
}

.layout {
    padding: 0px 0 0px;
    margin: 0 auto;
    0: 1170px
    overflow: hidden;
    overflow: hidden;
}

ol {
    counter-reset: myCounter;
    margin-left: 0;
    padding-left: 5px;
    color: rgb(72, 72, 71);
}


	  
.boxs {
    margin: 15px 0 10px;
    overflow: hidden;
    height: 45px;
}

.title-social {
    float: left;
    font-size: 16px;
    line-height: 40px;
    margin-right: 10px;
    font-weight: bold;
}

.social {
    float: left;
}

.social a {
    margin: 0 2px;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    height: 40px;
    width: 40px;
}

.social a i {
    width: 40px;
    height: 40px;
    margin: 0 2px;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    border-radius: 5%;
    color: #fff;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    border-radius: 25px;
    background: #119dae;
    text-align: center;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.3);
}
.social {
	float: left;
}
.block_img1 {
    border-radius: 50%;
    -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.16);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.16);
    width: 170px;
    height: 170px;
    border-radius: 90px;
    padding: 10px;
    display: inline-block;
    position: relative;
    left: 7px;
    top: 16px;
}


.red{
	padding: 3px 9px;
	background: #b7333b !important;
	color: #ffffff !important;
	border-radius: 2px;
	font-family: 'HelveticaBold', Arial, Tahoma, sans-serif;
	font-weight: normal;
}
.yellow{
    padding: 3px 9px;
    background: #ffed8f !important;
    color: #212121 !important;
    border-radius: 2px;
    font-family: 'HelveticaBold', Arial, Tahoma, sans-serif;
    font-weight: normal;
}
.black{
	padding: 3px 9px;
	background: #2f2f2f !important;
	color: #ffffff !important;
	border-radius: 2px;
	font-family: 'HelveticaBold', Arial, Tahoma, sans-serif;
	font-weight: normal;
}
.fiol{
	padding: 3px 9px;
	background: #8f0090 !important;
	color: #ffffff !important;
	border-radius: 2px;
	font-family: 'HelveticaBold', Arial, Tahoma, sans-serif;
	font-weight: normal;
}
.orange{
	padding: 3px 9px;
	background: #f5a714 !important;
	color: #fff !important;
	border-radius: 2px;
    font-family: 'HelveticaBold', Arial, Tahoma, sans-serif;
    font-weight: normal;
}
.header-stores {
    position: absolute;
    z-index: 10;
    top: -29%;
    left: 0;
    right: 0;
    margin-top: 200px;
    text-align: center;
}	 
	  
.header-stores h4 {
    margin-top: 4px;
    color: #ffffff;
    margin-bottom: 0px;
}
 
.header-stores ul {
    overflow: hidden;
}	  

.header-stores li {
    position: relative;
    float: left;
    font-size: 16px;
    line-height: 26px;
    width: 29.333%;
    text-transform: uppercase;
    text-align: center;
    list-style: none;
    font-family: 'Open Sans', sans-serif;
    margin: 4px 10px;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-shadow: 1px 1px 10px rgba(28, 29, 31, 0.41);
}

.header-stores .layout {
    margin: 0 auto;
    width: 1100px;
}	  

.include-icon {
    padding-top: 1px;
    color: #ffffff;
    font-size: 25px;
    font-weight: bold;
}

.button-left {
    width: 240px;
    height: 60px;    
    display: block;
    position: fixed;
    left: -190px;
    z-index: 49;
    transition: .3s;
}
.skype-btn {
    top: 230px;
}
.telegram-btn {
    top: 310px;
}
.telegram-btn2 {
    top: 390px;
}
.video-button {
    top: 390px;
}
.button-left:hover {
    left: 0;    
}


.stat-acc {
    display: table;
    width: 100%;
}

.four {
    width: 25%;
}
.col {
    display: table-cell;
}

.input-green {
    background: #4bc05e;
    padding-left: 20px !important;
}

.input-blue {
    background: #5bc0de;
    padding-left: 20px !important;
}

.input-red {
    background: #ef6d5b;
    padding-left: 20px !important;
}

.bt3 {
font-size: 18px;
}



.head_p_01 {background: url(../images/parallax_head3.png);background-position:0px 0px;
	width:1398px;height:512px;position: absolute;margin-top:-5px;}
.head_p_02 {background:url(../images/parallax_head3.png);background-position:0px -520px;
	width:1398px;height:512px;position: absolute;margin-top:-5px;}
.head_p_03 {background:url(../images/parallax_head3.png) repeat-x;background-position:0px -1040px;
	width:2796px;height:575px;position: absolute;margin-top:-5px;}
.head_p_04 {background:url(../images/parallax_head3.png) repeat-x;background-position:0px -1623px;
	width:2796px;height:748px;position: absolute;margin-top:-5px;}

.cloud_01{position: absolute; width:100%;height:205px;}
.cloud_01_a{background: url(../images/cloud_01_2.png) repeat;width:100%;height:100%;
position: absolute;
animation: animationFrames linear 22s;
-webkit-animation: animationFrames linear 22s;
-moz-animation: animationFrames linear 22s;
-o-animation: animationFrames linear 22s;
-ms-animation: animationFrames linear 22s;
-webkit-animation-name: 'clods1';
-moz-animation-name: clods1;
animation-name: 'clods1';
-o-animation-name: 'clods1';
animation-iteration-count:infinite;
-webkit-animation-iteration-count:infinite;
-moz-animation-iteration-count:infinite;
-o-animation-iteration-count:infinite; }
@keyframes 'clods1' {
from { background-position: 0% 0;}
to {background-position: 100% 0;}}
@-webkit-keyframes 'clods1' {
from { background-position: 0% 0;}
to { background-position: 100% 0;} }
@-o-keyframes 'clods1' {
from { background-position: 0% 0; }
to { background-position: 100% 0;} }
@-moz-keyframes clods1 {
from { background-position: 0% 0;}
to { background-position: 100% 0;} }

.cloud_02{position: absolute; width:100%;height:196px; margin-top:200px;}
.cloud_02_a{background: url(../images/cloud_01_3.png) repeat;width:100%;height:100%;
position: absolute;
animation: animationFrames linear 15s;
-webkit-animation: animationFrames linear 15s;
-moz-animation: animationFrames linear 15s;
-o-animation: animationFrames linear 15s;
-ms-animation: animationFrames linear 15s;
-webkit-animation-name: 'clods2';
-moz-animation-name: clods2;
animation-name: 'clods2';
-o-animation-name: 'clods2';
animation-iteration-count:infinite;
-webkit-animation-iteration-count:infinite;
-moz-animation-iteration-count:infinite;
-o-animation-iteration-count:infinite; }
@keyframes 'clods2' {
from { background-position: 0% 0;}
to {background-position: 100% 0;}}
@-webkit-keyframes 'clods2' {
from { background-position: 0% 0;}
to { background-position: 100% 0;} }
@-o-keyframes 'clods2' {
from { background-position: 0% 0; }
to { background-position: 100% 0;} }
@-moz-keyframes clods2 {
from { background-position: 0% 0;}
to { background-position: 100% 0;} }

.starbust{
	position:absolute;
	background:url(../images/sun_04.png);
	width:300px;
	height:300px;
	margin:40px 0 0 550px;
	 -webkit-animation-name: spin;
    -webkit-animation-duration: 40000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 40000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 40000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    -o-transition: rotate(3600deg);}
@-moz-keyframes spin {from { -moz-transform: rotate(0deg); }to { -moz-transform: rotate(360deg); }}
@-webkit-keyframes spin { from { -webkit-transform: rotate(0deg); }to { -webkit-transform: rotate(360deg); }}
@keyframes spin {from {transform:rotate(0deg);}to {transform:rotate(360deg);}}
	
.starbust2{
	position:absolute;
	background:url(../images/sun_04.png);
	width:300px;
	height:300px;
	margin:40px 0 0 550px;
	 -webkit-animation-name: spin;
    -webkit-animation-duration: 30000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 30000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 30000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    -o-transition: rotate(3600deg);}










.car_b {background:url(../images/transport.png);background-position:0px -40px;width:68px;height:34px;}
.car_b_a{
position: absolute;
margin:570px 0 0 0;
animation: animationFrames linear 7s;
-webkit-animation: animationFrames linear 7s;
-moz-animation: animationFrames linear 7s;
-o-animation: animationFrames linear 7s;
-ms-animation: animationFrames linear 7s;
-webkit-animation-name: 'movement1';
-moz-animation-name: movement1;
animation-name: 'movement1';
-o-animation-name: 'movement1';
animation-iteration-count:infinite;
-webkit-animation-iteration-count:infinite;
-moz-animation-iteration-count:infinite;
-o-animation-iteration-count:infinite; }
@keyframes 'movement1' {
from { top:0px; left: -5%; opacity:1;}
to {top:0px; left: 110%; opacity:1;}}
@-webkit-keyframes 'movement1' {
from { top:0px; left: -5%; opacity:1;}
to { top:0px; left: 110%; opacity:1;} }
@-o-keyframes 'movement1' {
from { top:0px; left: -5%;opacity:1; }
to { top:0px; left: 110%;opacity:1;} }
@-moz-keyframes movement1 {
from { top:0px; left: -5%;opacity:1;}
to { top:0px; left: 110%;opacity:1;} }

.car_y {background:url(../images/transport.png);background-position:0px 0px;width:68px;height:34px;}
.car_y_a{position: absolute;margin:545px 0 0 0;
animation: animationFrames linear 8s;
-webkit-animation: animationFrames linear 8s;
-moz-animation: animationFrames linear 8s;
-o-animation: animationFrames linear 8s;
-ms-animation: animationFrames linear 8s;
-webkit-animation-name: 'movement2';
-moz-animation-name: movement2;
animation-name: 'movement2';
-o-animation-name: 'movement2';
animation-iteration-count:infinite;
-webkit-animation-iteration-count:infinite;
-moz-animation-iteration-count:infinite;
-o-animation-iteration-count:infinite; }
@keyframes 'movement2' {
from { top:0px; right: -5%; opacity:1;}
to {top:0px; right: 100%; opacity:1;}}
@-webkit-keyframes 'movement2' {
from { top:0px; right: -5%; opacity:1;}
to { top:0px; right: 100%; opacity:1;} }
@-o-keyframes 'movement2' {
from { top:0px; right: -5%;opacity:1; }
to { top:0px; right: 100%;opacity:1;} }
@-moz-keyframes movement2 {
from { top:0px; right: -5%;opacity:1;}
to { top:0px; right: 100%;opacity:1;} }

.gruz {background:url(../images/transport.png);background-position:0px -80px;width:125px;height:55px;}
.gruz_a{position: absolute;margin:520px 0 0 0;
animation: animationFrames linear 15s;
-webkit-animation: animationFrames linear 15s;
-moz-animation: animationFrames linear 15s;
-o-animation: animationFrames linear 15;
-ms-animation: animationFrames linear 15s;
-webkit-animation-name: 'movement3';
-moz-animation-name: movement3;
animation-name: 'movement3';
-o-animation-name: 'movement3';
animation-iteration-count:infinite;
-webkit-animation-iteration-count:infinite;
-moz-animation-iteration-count:infinite;
-o-animation-iteration-count:infinite; }
@keyframes 'movement3' {
from { top:0px; right: -25%; opacity:1;}
to {top:0px; right: 105%; opacity:1;}}
@-webkit-keyframes 'movement3' {
from { top:0px; right: -25%; opacity:1;}
to { top:0px; right: 105%; opacity:1;} }
@-o-keyframes 'movement3' {
from { top:0px; right: -25%;opacity:1; }
to { top:0px; right: 105%;opacity:1;} }
@-moz-keyframes movement3 {
from { top:0px; right: -25%;opacity:1;}
to { top:0px; right: 105%;opacity:1;} }

.avtobus {background:url(../images/transport.png);background-position:0px -140px;width:125px;height:49px;}
.avtobus_a{position: absolute;margin:555px 0 0 0;
animation: animationFrames linear 21s;
-webkit-animation: animationFrames linear 21s;
-moz-animation: animationFrames linear 21s;
-o-animation: animationFrames linear 21s;
-ms-animation: animationFrames linear 21s;
-webkit-animation-name: 'movement4';
-moz-animation-name: movement4;
animation-name: 'movement4';
-o-animation-name: 'movement4';
animation-iteration-count:infinite;
-webkit-animation-iteration-count:infinite;
-moz-animation-iteration-count:infinite;
-o-animation-iteration-count:infinite; }
@keyframes 'movement4' {
from { top:0px; left: -10%; opacity:1;}
to {top:0px; left: 105%; opacity:1;}}
@-webkit-keyframes 'movement4' {
from { top:0px; left: -10%; opacity:1;}
to { top:0px; left: 105%; opacity:1;} }
@-o-keyframes 'movement4' {
from { top:0px; left: -10%;opacity:1; }
to { top:0px; left: 105%;opacity:1;} }
@-moz-keyframes movement4 {
from { top:0px; left: -10%;opacity:1;}
to { top:0px; left: 105%;opacity:1;} }

.divcheckbox{
	float: left;
	position: relative;
}
.redlink{
	color: #c11532;
	font-family: 'HelveticaBold', Arial, Tahoma, sans-serif;
	font-weight: normal;
	text-decoration: none;
}
.redlink:hover{
	border-bottom: 1px solid #c11532;
	cursor: pointer;
}
.birdname{
	width: 100%;
	margin-bottom: 6px;
	font-size: 25px;
	font-family: 'HelveticaBold', Arial, Tahoma, sans-serif;
	font-weight: normal;
	color: #272727;
}
.itembird{
	width: 100%;
	padding: 6px 0;
	font-size: 15px;
	font-family: 'HelveticaBold', Arial, Tahoma, sans-serif;
	font-weight: normal;
	color: #272727;
}
