.support_form {

}

.support_form .support_menu {
    text-align: center;
    margin: 10px 0px;
}

.support_form .support_menu a {

}

.support_form .support_menu a:hover {

}

.support_form .support_content {
    position: relative;
    overflow: hidden;
    font-size: 10pt;
}

.support_form .support_content .ticket_data {
    position: relative;
    width: 100%;
    background: #cb8851;
    text-align: center;
    padding: 5px 0px;
    color: white;
    font-weight: bold;
    margin-bottom: 5px;
}

.support_form .support_content h5 {
    color: #8d4046;
    font-size: 10pt;
    background: #cb8851;
    position: relative;
    margin: -5px -10px 10px -10px;
    padding: 5px 5px;
}

.support_form .support_content .left {
    position: relative;
    float: left;
    width: 697px;
    margin-right: 5px;
    box-sizing: border-box;
}

.support_form .support_content .right {
    position: relative;
    float: left;
    width: 100%;
    background: #fff4e3;
    padding: 5px 0px 0px 0px;
    text-align: center;
    border: 2px solid #cb8851;
    border-radius: 3px;
}

.support_form .support_content .user_info {
    position: relative;
    float: left;
    width: 220px;
    background: #fff4e3;
    padding: 5px 10px 15px 10px;
    text-align: center;
    border: 2px solid #cb8851;
    border-radius: 3px;
}

.support_form .support_content .user_info span {
    display: block;
    text-align: left;
    border-bottom: 1px dotted #cb8851;
    border-top: 1px dotted #cb8851;
    margin: 2px 0px;
    padding: 1px 0px;
    position: relative;
}

.support_form .support_content .user_info span label {
    position: relative;
    display: inline-block;
    font-weight: bold;
    color: #cb8851;
}

.support_form .support_content .user_info span text {
    float: right;
    position: absolute;
    width: 100%;
    right: 0px;
    text-align: right;
}

.support_form .support_content .messanger {
    position: relative;
    float: left;
    width: 448px;
    padding: 0px 0px 0px 0px;
    text-align: center;
    border-radius: 3px;
    margin: 0px 0px 0px 5px;
}

.support_form .support_content .messanger .item {
    border: 1px solid #cb8851;
    margin: 0px 0px 5px 0px;
}

.support_form .support_content .messanger .item header {
    background: #cb8851;
}

.support_form .support_content .messanger .usermess{
    border: 1px solid #ff7000;
}
.support_form .support_content .messanger .usermess header{
    background: #ff7000;
}
.support_form .support_content .messanger text{
    background: #e4e4e4;
}
.support_form .support_content .messanger .usermess text{
    background: #ffdabc;
}

.support_form .support_content .messanger .item header {
    position: relative;
    width: 100%;
    color: white;
    font-weight: bold;
    padding: 2px 5px;
    text-align: left;
    box-sizing: border-box;
    font-size: 9pt;
}

.support_form .support_content .messanger .item header username {

}

.support_form .support_content .messanger .item header time {
    float: right;
}

.support_form .support_content .messanger .item header delete {
    position: relative;
    color: #ffa9a9;
    cursor: pointer;
    left: 5px;;
}

.support_form .support_content .messanger .item text {
    padding: 4px 2px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    text-align: left;
}

.support_form .support_content .messanger .sender_form {

}
.support_form .support_content .messanger .sender_form #send_text {

}
.support_form .support_content .messanger .sender_form #send_text textarea{
    width: 100%;
    padding: 5px 5px;
    height: 80px;
}
.support_form .support_content .messanger .sender_form .keys{
    text-align: right;
}
.support_form .support_content .messanger .sender_form .template{

}

.support_form .support_content .ticket_list {
    height: 575px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-right: 1px;
}

.support_form .support_content .ticket_list .ticket_table {

}

.support_form .support_content .ticket_list .ticket_table tr{

}

.support_form .support_content .ticket_list .ticket_table td{

}

.support_form .support_content .ticket_list span {
    display: block;
    text-align: left;
    padding: 5px 5px;
    cursor: pointer;
    margin: 1px 0px;
    background: #e4e4e4;
    position: relative;
}

.support_form .support_content .ticket_list span#select {
    background: #ffdabc;
}

.support_form .support_content .ticket_list span.open theme {
    color: #339003;
    font-weight: bold;
}

.support_form .support_content .ticket_list span.close theme{
    color: #9e9e9e;
    font-weight: bold;
}

.support_form .support_content .ticket_list span.white theme{
    color: #339003;
    font-weight: bold;
}

.support_form .support_content .ticket_list span.white{
    background: #c9f1b6;
}

.support_form .support_content .ticket_list span:hover {
    background: #ffdabc;
    color: white;
}

.support_form .support_content .ticket_list span id {

}

.support_form .support_content .ticket_list span mess {
    position: absolute;
    right: 5px;
    top: 5px;
    color: #c36457;
    font-size: 10pt;
}

.support_form .support_content .ticket_list span data {
    position: absolute;
    right: 5px;
    top: 21px;
    color: #585858;
    font-size: 8pt;
}

.support_form .support_content .ticket_list span user {
    display: block;
    color: #c16417;
}

.support_form .support_content .ticket_list span theme {
    position: relative;
    display: block;
    width: 175px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #636161;

}