@media screen and (max-width:500px){
	.header-stores .layout ul li h4 {
		font-size: 1rem;
	}

	.carsBlock {
		display: none;
	}

	.header-vector {
		height: 320px;
	}
}
@media screen and (max-width:768px){
	html {
		overflow-x: hidden
	}
	
	* {
		box-sizing: border-box;
	}
	
	.table-responsive{
		width:100%;
		margin-bottom:15px;
		overflow-y:hidden;
		-ms-overflow-style:-ms-autohiding-scrollbar;
		border:1px solid #ddd
	}

	.table-responsive>.table{
		margin-bottom:0
	}

	.table-responsive>.table>tbody>tr>td,.table-responsive>.table>tbody>tr>th,.table-responsive>.table>tfoot>tr>td,.table-responsive>.table>tfoot>tr>th,.table-responsive>.table>thead>tr>td,.table-responsive>.table>thead>tr>th{
		white-space:nowrap
	}

	.table-responsive>.table-bordered{
		border:0
	}

	.table-responsive>.table-bordered>tbody>tr>td:first-child,.table-responsive>.table-bordered>tbody>tr>th:first-child,.table-responsive>.table-bordered>tfoot>tr>td:first-child,.table-responsive>.table-bordered>tfoot>tr>th:first-child,.table-responsive>.table-bordered>thead>tr>td:first-child,.table-responsive>.table-bordered>thead>tr>th:first-child{
		border-left:0
	}

	.table-responsive>.table-bordered>tbody>tr>td:last-child,.table-responsive>.table-bordered>tbody>tr>th:last-child,.table-responsive>.table-bordered>tfoot>tr>td:last-child,.table-responsive>.table-bordered>tfoot>tr>th:last-child,.table-responsive>.table-bordered>thead>tr>td:last-child,.table-responsive>.table-bordered>thead>tr>th:last-child{
		border-right:0
	}

	.table-responsive>.table-bordered>tbody>tr:last-child>td,.table-responsive>.table-bordered>tbody>tr:last-child>th,.table-responsive>.table-bordered>tfoot>tr:last-child>td,.table-responsive>.table-bordered>tfoot>tr:last-child>th{
		border-bottom:0
	}
	
	.adm-menu {
		display: none;
	}

	.footer-content .public {
		display: none;
	}
	
	.nav-btns ul li:first-child {
		display: none;
	}
	
	.btn-8d {
		padding: 5px!important;
		font-size: 10px;
	}
	
	.navbar-toggler {
		padding: 0px;
	}
	
	.navbar {
		padding: 5px;
	}
	
	.leftmenu {
		max-width: 100%;
		width: 100%;
	}
	
	.content {
		flex: 0 0 100%;
		max-width: 100%;
	}
	
	.container {
		width: 100%;
		max-width: 100%;
		padding-right: 15px;
		padding-left: 15px;
		margin-right: auto;
		margin-left: auto;
	}
	
	body::-webkit-scrollbar {
		width: 0px;
	}
	
	::-webkit-scrollbar {
		width: 0px;
	}
	
	#chat-menu {
		display: none;
	}
}

@media (max-width: 1000px) {
  .profilemst{font-size: 19px;}
  .profileinfoh5{font-size:15px;}
  .profileinfoh5 span{font-weight:100;letter-spacing: 1px;}
  .carsinfoh4{font-size:15px;}
  .carsinfop{font-size:13px;}
  .surfnoneh4{font-size: 15px;}
  .surfabuselink, .surflink img{display:none;}
  .surflinkgoto{font-size:14px;}
  .surflink{text-align:center;}
  .surfviewleft{float:none;margin-top:5px;display:block;}
  .exchange_formelem{width:100%;}
  .exchange_desctext{font-size: 14px;}
}
@media (min-width: 1200px) {
  .profilemst{font-size: 21px;}
  .profilemsd{font-size: 12px;}
  .profilemsz{font-size: 14px;}
  .profileinfoh5{font-size:11px;}
  .profileinfoh5 span{letter-spacing: 0px;}
  .carsbalcount{font-size:37px;}
}
@media (min-width: 1330px) {
  .profilemsz{font-size: 16px;}
  .profileinfoh5{font-size:13px;}
}
@media (min-width: 1440px) {
  .profilemst{font-size: 27px;}
  .profilemsd{font-size: 14px;}
}
@media (min-width: 1590px) {
  .profileinfoh5{font-size:15px;}
  .profileinfoh5 span{letter-spacing: 1px;}
  .carsbalcount{font-size:40px;}
}

@media (min-width: 1200px) {
  .profilemst{font-size: 21px;}
  .profilemsd{font-size: 12px;}
  .profilemsz{font-size: 14px;}
  .profileinfoh5{font-size:11px;}
  .profileinfoh5 span{letter-spacing: 0px;}
  .carsbalcount{font-size:37px;}
}
