body {
	margin:0px;
	padding:0px;
	max-width:100%;
	height: 100%;
	overflow-x:hidden;
	background-color: #f3f2f0;
}

img { border:0px; }
.clr { clear:both; }

.header {
    position: relative;
    z-index: 1000;
    text-align: center;
    background: #fff;
    -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.16);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.16);
}

.navigator {
margin: 4px auto;
margin-left: 105px;
}
.limiter {
max-width: 1024px;
margin: 0 auto;
}
.nav li {position: relative;margin-top: 0px; width: 100%;}
.navigator li {
float: left;
text-align: center;
display: table;
margin: 0px;
}

#slidemenu {
	width: 100%;
}


.wrapperline {
background: url('../../https@paper-island.biz/style/img/hd-line.png') repeat-x center 117px;
}

.clr-line {
	background: url(../../https@paper-island.biz/img/hd-line.jpg) no-repeat;
	width:980px;
	height:8px;
}

tbody h3 {
font-family: 'lobster';
font-size: 18pt;
margin: 0px 0px 15px 0px;
font-weight: normal;
color: rgb(119, 119, 119);
}

.payment_buttons {
    margin: 10px auto 30px auto;
    width: 40%;
}


.alert {
	-webkit-box-shadow: inset 38px -36px 141px 5px rgba(0,0,0,0.38);
    text-transform: uppercase;
    -moz-box-shadow: inset 38px -36px 141px 5px rgba(0,0,0,0.38);
    box-shadow: inset 38px -36px 141px 5px rgba(0,0,0,0.38);
  
  color: #fff;
margin: 5px 0;
padding: 8px 35px 8px 14px;
text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
background-color: #FCF8E3;
 
border-radius: 2px;
}



.payment_button:nth-child(1) {
    background-image: url('../../https@paper-island.biz/img/payeer-icon.png');
}
.payment_button:nth-child(3) {
    background-image: url('../../https@paper-island.biz/img/qiwi-icon.png');
}
.payment_button:nth-child(4) {
    background-image: url('../../https@paper-island.biz/img/yandex-icon.png');
}
.payment_button:nth-child(5) {
    background-image: url('../../https@paper-island.biz/img/webmoney-icon.png');
}
.payment_button:nth-child(2) {
    background-image: url('../../https@paper-island.biz/img/perfect-icon.png');
}
.payment_button {
    width: 70px;
    height: 70px;
    background-color: #FFF;
    float: left;
    margin: 0px 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 35px;
    border-radius: 15px;
    border: 1px solid;
    border-bottom: 3px solid;
    cursor: pointer;
}
.payment_button.active {
    background-color: #D0E9EE;
}

.footer .fon {
width: 100%;
position: relative;
top: 0px;
left: 0px;
}

.azbuks {
font-size: 12pt;
color: rgb(33, 0, 255);
font-weight: normal;
}

.toces {
padding: 3px 5px 2px 5px;
background: white;
border-radius: 3px;
font-size: 12pt;
margin: 2px 0px 0px 0px;
display: block;
color: rgb(255, 85, 85);
text-align: center;
}

.footer .cont {
text-align: center;
bottom: 10px;
font-size: 13px;
margin-top: -17px;
position: relative;
}

tbody strong {
font-weight: bold;
font-family: 'lobster';
font-size: 10pt;
}


.head .center h2 {
font-family: DecorCyrillic;
font-weight: bold;
font-size: 20pt;
color: rgba(150, 150, 150, 1);
text-shadow: 1px 1px 10px rgba(0, 1, 2, 0.58);
margin-top: -54px;
margin-left: -199px;
width: 100%;
}

.head .center h1 {
font-family: DecorCyrillic;
font-weight: bold;
font-size: 50pt;
color: white;
text-shadow: 2px 2px 10px black;
width: 100%;
margin-top: 0px;
margin-left: -536px;
}

.hd-menu li {
	display:inline;
	margin:0px 15px 0px 0px;
	border:3px solid #FFF;
	padding:7px 5px 3px 5px;
}

.hd-menu li:hover {
	border:3px solid #f9ac85;
	border-radius:10px;
	padding:5px 5px 3px 5px;
}

.hd-menu a {
	text-decoration:none;
	color:#000;
}

.cp-art {
	background: url(../../https@paper-island.biz/img/fruits.jpg) no-repeat;
	width:542px;
	height:244px;
	margin-bottom:10px;
	float:left;
}

.sprite-icon {
	background: url(../../https@paper-island.biz/img/sprite-icon.png) no-repeat;
	width:500px;
	height:500px;
}

.hd-bnf {
	float:left;
	background: url(../img/bnf.png) repeat-x;
	height:152px;
	font-family: "lobster";
	margin:25px 0px 0px 10px;
	padding:10px 15px 0px 30px;
	color:#3f9800;
	font-size:1.2em;
	line-height: 17pt;
	border:1px solid #b6b6b6;
	border-radius:10px;
}

.hd-bnf li {
	list-style-image: url(../img/arrow.png);	
	background-repeat:no-repeat;
}



.autoriz {
    border-radius: 0px 0px 2px 2px;
    padding: 0px 0px 1em;
    border-bottom: 2px solid #FEF3D8;
    margin-top: -10px;
    margin-bottom: 20px;
    background: #FDF2D7;
}

a {
text-decoration: none!important;
}

a:hover {
color: #000 ;
text-decoration: none;
}

.silver-bk a {
    color: #484847;
    display: inline-block;
    margin: 0px 0px 0px 0px;
    transition: color 0.2s ease-in;
    text-decoration: none;
    font-weight: bold;
}
.silver-bk a:hover {color: #000;transition: color 0.2s ease-in;}

td.stats {

    border: 1px solid rgb(204, 185, 140);
background-color: rgb(249, 246, 235);
padding: 5px 5px 5px 5px;
text-overflow: hidden;
height: 50px;
width: 251px;
}

.stat {
border-radius: 0px 0px 2px 2px;
padding: 0px 0px 1em;
border-bottom: 2px solid #131313;
margin-top: -10px;
margin-bottom: 20px;
background: #dda45d;
}

.actionmenu {
display: block;
margin: 0px 5px 0px 5px;
border: 2px dashed #CCB98C;
background-color: rgba(131, 129, 2, 1);
}

.actionmenu a {
width: 270px;
padding: 5px 6px;
font-size: 20px;
text-decoration: none;
margin: 1px 1px;
color: #1f1900;
display: block;
margin-left: 1px;
border: 1px solid rgb(204, 185, 140);
border-radius: 2px;
background-color: rgba(241, 220, 145, 0.39);
}

.actionmenu span {
width: 270px;
padding: 5px 6px;
text-decoration: none;
margin: 1px 1px;
color: #1f1900;
display: block;
margin-left: 1px;
    border: 1px solid rgb(204, 185, 140);
border-radius: 2px;
background-color: #f7df9c;
font-size: 22px;
background: #f8f6f1;
}

.actionmenu label {

}

.actionmenu a:hover {

width: 262px;
padding: 5px 10px;
display: block;
text-decoration: none;
background-color: #F9F6EB;
}

.accmenu {
border-radius: 0px 0px 2px 2px;
padding: 0px 0px 1em;
    border-bottom: 2px solid #CCB98C;
margin-top: -10px;
margin-bottom: 20px;
background: #FDF2D7;
}

.st-lf { float:left; margin:5px 0px 0px 0px; }
.st-rg { float:left; margin:7px 0px 0px 15px; }

.line {
	margin:10px 0px 0px 30px;
}

.line-st {
	border: 1px solid #8d8d8d;
	border-radius:10px;
	background: url(../img/inpt-hov.png) repeat-x;
	width:115px;
	height:19px;
	color:#f77827;
	text-align:center;
	margin:2px 0px 0px 0px;
	padding:5px 0px 0px 0px;
	
}

.st-time {
	margin:3px 0px 0px 30px;
}

.wim {
width: 229px;
height: 34px;
border: 1px solid #0083CC;
border-radius: 10px;
text-align: center;
font-size: 20pt;
padding: 5px 0px 5px 0px;
margin: 0px 0px 0px 0px;
color: #0083CC;
}

.wim-block {
	margin:10px 0px 0px 67px;
}

.wim-lf {
	background: url(../../https@paper-island.biz/img/man-1.jpg) no-repeat;
	width:125px;
	height:129px;
	float:left;
}

.wim-ctr {
	width:220px;
	float:left;
	color:#0a5200;
	font-size:19pt;
	text-align:center;
	margin:0px 5px 0px 5px;
}

.wim-ctr-in {
	background: url(../img/arrows.jpg) no-repeat;
	width:117px;
	height:63px;
	margin:10px 0px 10px 50px;
}

.wim-rg {
	background: url(../../https@paper-island.biz/img/man-2.jpg) no-repeat;
	width:130px;
	height:131px;
	float:left;	
}

.garant-bk {
width: 200px;
float: left;
margin: 6px 0px 0px 0px;
text-align: center;
color: #0083CC;
font-size: 12pt;
font-weight: bold;
}

.cntrl-ps {
	width:171px;
	margin-left:71px;

}

s {
	display:block;
	background:url(../img/paysitem-sprite.png);
	width:57px;
	height:46px;
	float:left;
}

.warn {
	
	padding: 15px 20px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
  
    background: #fbfbfb;
    
    font-size: 14px;
   
    text-transform: :uppercase;
    text-transform: uppercase;
    
    -webkit-box-shadow: inset 5px 10px 54px -154px rgba(161,161,161,0.28);
    -moz-box-shadow: inset 5px 10px 54px -154px rgba(161,161,161,0.28);
    box-shadow: inset 5px 10px 54px -154px rgba(161,161,161,0.28);
    font-family: monospace;
	
	
	
}

.acc-title {
	width: 100%;
	margin: 0 auto;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	font-size: 30px;
	text-align: center;
	font-weight: 900;
}

.fr-block {
float: left;
display: block;
padding: 10px 10px 10px 10px;
margin: 20px 33px 0px 124px;
border: 2px solid rgb(202, 200, 255);
position: relative;
width: 450px;
}

.calc_m {
width: 18px;
padding: 2px 2px 2px 2px;
margin: 0px 0px 0px 0px;
color: rgb(72, 81, 252);
cursor: pointer;
text-align: center;
font-weight: bold;
background: rgb(253, 253, 253);
border: 2px solid rgb(115, 115, 255);
}

.calc_p {
width: 18px;
padding: 2px 2px 2px 2px;
margin: 0px 0px 0px 0px;
color: rgb(72, 81, 252);
cursor: pointer;
text-align: center;
font-weight: bold;
background: rgb(253, 253, 253);
border: 2px solid rgb(115, 115, 255);
}


.fr-block:hover  {
float: left;
display: block;
padding: 10px 10px 10px 10px;
margin: 20px 33px 0px 124px;
border: 2px solid rgb(71, 184, 232);
position: relative;
width: 450px;
}

.fr-block img  {
border: 1px solid rgb(210, 210, 210);
background: white;
width: 170px;
height: 170px;
border-radius: 90px;
padding: 5px;
display: inline-block;
left: 7px;
float: left;
}

.fr-title {
	color:#7ea57b;
	font-size:18px;
}

.cl-fr-lf {
	float:left; 
	text-align:center;
}



.note {
    position:relative;
    
    padding:1em 1.5em;
    margin:2em auto;
    color:#fff;
    background:#97C02F;
    overflow:hidden;
}

.note:before {
    content:"";
    position:absolute;
    top:0;
    right:0;
    border-width:0 16px 16px 0; /* Данный трюк устраняет ошибку в браузерах webkit (сдвиг)  */
    border-style:solid;
    border-color:#fff #fff #658E15 #658E15; /* Для работы с .rounded */
    background:#658E15; /* Для Opera при применении border-radius */
    display:block; width:0; /* Только для Firefox 3.0 для снятия ограничений */
    /* Опционально: тени */
    -webkit-box-shadow:0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
       -moz-box-shadow:0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
            box-shadow:0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
}

.note.red {background:#C93213;}
.note.red:before {border-color:#fff #fff #97010A #97010A; background:#97010A;}

.note.blue {background:#53A3B4;}
.note.blue:before {border-color:#fff #fff transparent transparent; background:transparent;}

.note.taupe {background:#999868;}
.note.taupe:before {border-color:#fff #fff #BDBB8B #BDBB8B; background:#BDBB8B;}

/* Версия со скругленными углами
 * Все современные браузеры могут воспроизвести данный эффект с помощью одного псевдо-элемента.
 * Но, все они работают с ошибками (связанными с border-radius), поэтому надо использовать трюки.
 * Это единственный кросс-браузерный метод на данный момент.
 * Нельзя использовать данный метод для простого эффекта, потому что Opera 11 показывает цвет фона 
 * сквозь прозрачную обводку только при использовании свойства border-radius.
 */
 
.note.rounded {
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}

.note.rounded:before {
    border-width:8px; /* Включает сдвиг на 1px по диагонали в Safari 5 (и Chrome 10) */
    border-color:#fff #fff transparent transparent; /* Исключает сдвиг на 1px в браузерах webkit. Фоновый цвет виден. */
    -webkit-border-bottom-left-radius:5px;
    -moz-border-radius:0 0 0 5px;
    border-radius:0 0 0 5px;
}

.note p {margin:0;}
.note p + p {margin:1.5em 0 0;}
.cl-fr-rg {
	float:left;
	margin: 10px 0px 0px 5px;
}

.fr-te-gr {
color: #0075B6;
}

.fr-te-gr-title { color:#000; font-weight:700; margin-bottom:10px;}

a.sm-btn {
	display:block;
	cursor:pointer;
	font-size: 12px;
	font-weight: 700 !important;
	margin: 0px 5px 8px 0px;
	padding: 0px 14px;
	border-radius: 10px;
	box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.400), 1px 1px 1px rgba(0, 0, 0, 0.102);
	display: inline-block;
	line-height: 26px;
	text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.298);
	background: linear-gradient(to bottom, #88BDFF 0px, #60A7FF 100%) transparent;
	border: 1px solid #3E8FF4;
	color: #2B63A8 !important;	
	text-decoration:none;
}

a.sm-btn:hover { opacity:0.8; }

.ahrefdva a {
color: rgb(5, 63, 138);
text-decoration: none;
display: inline-block;
margin: 0px 0px 0px 0px;
transition: color 0.2s ease-in;
text-decoration: underline;
}

.ahrefdva a:hover { 
color: rgb(23, 141, 219);
transition: color 0.2s ease-in;
}

input.sm-btn {
	display:block;
	cursor:pointer;
	font-size: 12px;
	font-weight: 700 !important;
	margin: 0px 5px 8px 0px;
	padding: 0px 14px;
	border-radius: 10px;
	box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.400), 1px 1px 1px rgba(0, 0, 0, 0.102);
	display: inline-block;
	line-height: 30px;
	text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.298);
	background: linear-gradient(to bottom, #88BDFF 0px, #60A7FF 100%) transparent;
	border: 1px solid #3E8FF4;
	color: #2B63A8 !important;	
	text-decoration:none;
}

input.sm-btn:hover { opacity:0.8; }

.silver-bk {/*width: 1100px;*/margin: 20px auto;padding: 20px;font-family: 'Open Sans', sans-serif;background-color: #ffffff;box-shadow: inset 0 0 0 10px #fff, inset 0 0 0 11px #ffffff, 0 1px 59px rgba(0, 26, 51, .2);border: 1px solid #e6eff5;color: #484847;overflow: hidden;}

.silver-bk1 {
margin: 0px 0px 0px 0px;
color: #2F4829;
    background: #F5EEE3;
	box-shadow: 0px 0px 10px 2px #E5B569;
}

.s-bk-lf {
	border: 1px solid #e1e8ed;
    border-width: 0 0 1px;
    background: #fff;
    color: black;
    padding: 20px;
}

.sm-line {
	width:100%;
	float:left;
	margin:5px 0px 5px 0px;
	font-size:14px;
    margin-left: 135px;
}

.fihmenus {
margin: 10px 0px 0px 15px;
border-radius: 10px;
border: 3px solid rgba(0, 131, 204, 0.5);
width: 170px;
height: 123px;
background: #fff;
float: left;
}

.sm-line-nt {
	
	margin:5px 0px 5px 0px;
	font-size:14px;

}

.sm-line-nt img {
border: 3px solid rgba(0, 131, 204, 0.5);
border-radius: 10px;
vertical-align: -13px;
width: 75px;
height: 75px;
}

.sm-line img {
border: 3px solid rgba(0, 131, 204, 0.5);
border-radius: 10px;
vertical-align: -13px;
margin: 0px 5px 0px 0px;
width: 35px;
height: 35px;
}

.m-tb {
    box-shadow: inset 0 0 0 10px #fff, inset 0 0 0 11px #ffffff, 0 1px 9px rgba(0, 26, 51, .2) !important;
    color: black;
    font-weight: bold;
	background: white;
}

table { border:none; }
 
td {
border-radius: 0px;
margin-right: 5px;
}

.bs-py {
	border: 1px solid #8d8d8d;
	border-radius:10px;
	background: url(../img/inpt-hov.png) repeat-x;
	width:115px;
	height:24px;
	color:#f77827;
	text-align:center;
	margin:0px 0px 0px 0px;
	padding:3px 0px 0px 0px;
}

.out-my {
	background: none;
	border: 1px solid #8d8d8d;
	border-radius:10px;
	background: url(../img/inpt.png) repeat-x;
	width:187px;
	height:24px;
	padding:0px 0px 0px 10px;
	margin:1px 0px 0px 0px;
}

.out-my:hover {
	background: url(../img/inpt-hov.png) repeat-x;
	width:187px;
	height:24px;
}

/*############# FOOTER #############*/
.footer {
position: relative;
top:30px;
}

.strela {
margin-top: -60px;
vertical-align: middle;
}

.htt td {
    border-bottom: 1px solid #CCB98C;
    border-right: 1px solid #CCB98C;
    border-left: 1px solid #CCB98C;
    padding: 6px 10px;
}



input[type=submitt]:hover {
background: #e7801c;
}

input[type=submitt]:active {
background: #f7801c;
}

input[type=bottom]:hover {
background: #e7801c;
}

input[type=bottom]:active {
background: #f7801c;
}
#banners a img 
{ 
opacity:0.5; -moz-opacity:0.3; filter:alpha(opacity=40); 
} 

#banners a:hover img 
{ 
opacity:1.0; -moz-opacity:1.0; filter:alpha(opacity=100); 
}
.colz {
    width: 75px;
    padding: 3px 2px 3px 2px;
    margin: 7px 0px 7px 0px;
    border: 2px solid rgb(204, 185, 140);
    background: rgb(246, 249, 245);
    color: rgb(165, 123, 49);
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
}
	
#log_1 {
    background: url('img/log_1.png') no-repeat 0 center;
}
#log_2 {
    background: url('img/log_2.png') no-repeat 0 center;
}
#reg_1 {
    background: url('img/reg_1.png') no-repeat 0 center;
}
#reg_2 {
    background: url('img/reg_2.png') no-repeat 0 center;
}
#reg_3 {
    background: url('img/reg_3.png') no-repeat 0 center;
}
#reg_4 {
    background: url('img/reg_4.png') no-repeat 0 center;
}
#reg_6 {
    background: url('img/reg_6.png') no-repeat 0 center;
}
.poi {
     border: 1px solid #8c6c6c;
	 border-radius: 3px;
	}
	
.submenuha {
    padding: 0;
    margin: 0;
    list-style: none;
    background: rgba(19, 19, 19, 0.79);
    text-align: center;
    display: block;
    font-size: 0;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.submenuha:before {
    content: '';
    height: 50%;
    display: inline-block;
}

.submenuha .list_menu {
    margin: 0 20px;
    font-size: 16px;
    display: inline-block;
    position: relative;
    padding: 10px 25px;
    border-radius: 2px;
    border: 1px solid #9b6840;
    background: #faf3d8;
}

.submenuha .list_menu .smtitle{
    color: #88462b;
    font-weight: bold;
}

.submenuha .list_menu:before, li {
    vertical-align: middle; /* aua aio */
}

.submenuha .list_menu a {
    display: block;
    text-decoration: none;
	width: 333px;
}

.top_panel {
    position: relative;
    width: auto;
    margin: 0 auto;
    font-size: 11px;
    height: 60px;
    background: #fff;
    z-index: 2;
}

.navigation-main {
    width: 810px;
    position: absolute;
}

.navs {
    position: relative;
    display: block;
}

.menu {
    position: absolute;
    top: 7px;
    display: block;
    margin: 0px;
    padding-left: 0px;
    height: 50px;
    z-index: 2;
}
.menu li:first-child {
    margin-left: 0;
}

.menu li {
    display: inline-block;
    position: relative;
    z-index: 140;
    height: 48px;
}
li {
    list-style: none;
}

.menu li a {
    z-index: 140;
    font-size: 16px;
    position: relative;
    color: #484847;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    padding: 10px;
    display: block;
    font-weight: 600;
    -webkit-transition: all 0.2s ease-in-out .2s;
    -moz-transition: all 0.2s ease-in-out .2s;
    -o-transition: all 0.2s ease-in-out .2s;
    -ms-transition: all 0.2s ease-in-out .2s;
    transition: all 0.2s ease-in-out .2s;
}

.menu li a:hover {
    z-index: 140;
    font-size: 16px;
    position: relative;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    padding: 10px;
    display: block;
    font-weight: 600;
    -webkit-transition: all 0.2s ease-in-out .1s;
    -moz-transition: all 0.2s ease-in-out .1s;
    -o-transition: all 0.2s ease-in-out .1s;
    -ms-transition: all 0.2s ease-in-out .1s;
    transition: all 0.2s ease-in-out .1s;
	border-bottom: 1px solid;
}

.btn a {color: #fff;text-transform: uppercase;font-size: 14px;font-family: 'Open Sans', sans-serif;text-decoration: none;}

.btn {
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 10px 15px;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin: 6px 5px;
}

.btn-8d {
    display: block;
	background-color: #2e313d;
    border-radius: 2px;
    border: 1px solid;
}

.btn-9d {
    display: block;
    background-color: #13adc0;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    border-radius: 4px;
    border-bottom: 3px solid #1691a0;
}

::-webkit-scrollbar {
width: 10px;
}
::-webkit-scrollbar-track {
background: #fff;
-webkit-box-shadow: inset 1px 1px 2px rgb(237, 238, 240);
}
::-webkit-scrollbar-thumb {
background: #edeef0;
-webkit-box-shadow: inset 1px 1px 2px rgba(255, 255, 255, 0.2);
}

body::-webkit-scrollbar {
    width: 1em;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px 2px rgba(0,0,0,0.3);
    background:none; 
        opacity:.7;
}
 
body::-webkit-scrollbar-thumb {
  border-radius: 1px;	
  background: none; 
 -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  cursor: pointer;
}

.page-inject * {
    box-sizing: border-box;
    -webkit-transition: all 0.24s cubic-bezier(0.55, 0, 0.1, 1);
    -moz-transition: all 0.24s cubic-bezier(0.55, 0, 0.1, 1);
    -o-transition: all 0.24s cubic-bezier(0.55, 0, 0.1, 1);
    transition: all 0.24s cubic-bezier(0.55, 0, 0.1, 1);
	
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.page-inject .parallax-wrap {
    position: relative;
    overflow: hidden;
    height: 630px;
    background: url(../images/bg.png) center top no-repeat #13adc0;
}

.page-inject .parallax-port {
    position: absolute;
    top: -10px;
    left: 50%;
    margin-left: -1280px;
    width: 2560px;
    height: 650px;
}

.page-inject .parallax-port .parallax-layer-1 {
    width: 2757px;
    height: 700px;
}

.page-inject .parallax-port .parallax-layer-2 {
    width: 2510px;
    height: 648px;
}

.page-inject .parallax-port .parallax-layer-3 {
    width: 2484px;
    height: 668px;
}

.page-inject .parallax-port [class^="parallax-layer"] {
    position: absolute;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
    -o-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    pointer-events: none;
}

.page-inject .parallax-wrap .rabbit {
    position: absolute;
    z-index: 5;
    bottom: 0;
    left: 50%;
    margin-left: -480px;
    margin-bottom: -40px;
    width: 174px;
    height: 269px;
    background: url(../images/rabbit.png) 0 0 no-repeat transparent;
    pointer-events: none;
}

.page-inject .content {
    background-color: #fff;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    color: #3e3e3e;
}

.page-inject .block-1 {
    padding: 1px 0;
    padding-top: 3px;
    background-size: 98% 100%;
}

/*.page-inject .container {
    position: relative;
    width: 1100px;
    margin: auto;
    padding: 0 0 0 0;
}*/

.clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .container-compact:before, .container-compact:after, .row:before, .row:after {
    content: " ";
    display: table;
}

.page-inject .block-1 .h2 {
	font-weight: 700;
	margin-bottom: 10px;
	font-size: 25px;
	text-align: center;
}
.page-inject .h2 {
    font-size: 40px;
}
.page-inject .h1, .page-inject .h2 {
    line-height: 1.2em;
    font-weight: 500;
    color: #12a1b2;
    text-transform: uppercase;
    margin-top: 20px;
}

.page-inject .block-1 p {
    margin-top: 8px;
    letter-spacing: 0.02em;
    line-height: 28px;
    margin-bottom: 10px;
}
.page-inject p {
    font-size: 20px;
    line-height: 1.20833333em;
    font-weight: 400;
    letter-spacing: -0.003em;
}

h3 {margin-top: 10px;margin-bottom: 10px;}

.tn-box p:before {
    text-align: center;
    border: 3px solid rgb(255, 255, 255);
    top: 25%;
    left: 13px;
    width: 30px;
    content: "i";
    font-size: 20px;
    color: rgb(255, 255, 255);
    height: 30px;
    line-height: 24px;
    border-radius: 50%;
    text-transform: none;
    font-weight: bold;
    position: absolute;
}
.tn-box-color-1 {
    background: #3d82f4;
}
.tn-box {
    position: relative;
    margin: 10px auto 10px auto;
    text-align: left;
    border-radius: 4px;
    cursor: default;
    font-weight: 500;
}

.sign-up {
    position: relative;

    padding: 20px;
    background: white;
    border-bottom: 1px solid #c4c4c4;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
	margin: 20px auto;
}
.sign-up:before, .sign-up:after {
  content: '';
  position: absolute;
  bottom: 1px;
  left: 0;
  right: 0;
  height: 10px;
  background: inherit;
  border-bottom: 1px solid #d2d2d2;
  border-radius: 4px;
}
.sign-up:after {
  bottom: 3px;
  border-color: #dcdcdc;
}

.sign-up-title {
  margin: 2px;
  padding: 15px 25px;
  line-height: 35px;
  font-size: 26px;
  font-weight: 500;
  color: #484847;
  text-align: center;
  background: #f7f7f7;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 10px;
}
.sign-up-title:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 8px;
  background: #c4e17f;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

input {
  font-family: inherit;
  color: inherit;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.sign-up-input {
  width: 100%;
  height: 50px;
  margin-bottom: 25px;
  padding: 0 15px 2px;
  font-size: 17px;
  background: white;
  border: 2px solid #ebebeb;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 -2px #ebebeb;
  box-shadow: inset 0 -2px #ebebeb;
}
.sign-up-input:focus {
  border-color: #62c2e4;
  outline: none;
  -webkit-box-shadow: inset 0 -2px #62c2e4;
  box-shadow: inset 0 -2px #62c2e4;
}
.lt-ie9 .sign-up-input {
  line-height: 48px;
}

.sign-up-button {
  position: relative;
  vertical-align: top;
  width: 100%;
  height: 47px;
  padding: 0;
  text-transform: uppercase;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  color: white;
  text-align: center;
  background: #ffb51c;
  border: 0;
  border-bottom: 2px solid #e4a014;
  border-radius: 3px;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #ffb51c;
  box-shadow: inset 0 -2px #ffb51c;
  font-weight: 600;
}
.sign-up-button:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}


.carsBlock {
    background: rgba(255, 255, 255, 0);
}
.carsBlock {
	height: 295px;
	position: relative;
	overflow: hidden;
	top: 125px;
}



.carsBlock h1 {
    font-family: 'open sans';
    font-size: 20px;
    font-weight: 600;
    color: #010101;
    text-align: center;
    padding-top: 30px;
    text-transform: uppercase;
}

.carsBlock h1:before {
    display: inline-block;
    background: url(../../https@paper-island.biz/images/taxi-icon.png) no-repeat;
    content: " ";
    height: 17px;
    width: 32px;
    padding-left: 15px;
    top: 26px;
}

.carsBlock h1:after {
    display: inline-block;
    background: url(../../https@paper-island.biz/images/taxi-icon2.png) no-repeat;
    content: " ";
    height: 17px;
    width: 32px;
    top: 26px;
    margin-left: 12px;
}

.carsBlock .carsArea {
    width: 100%;
    padding-top: 1px;
    overflow: hidden;
}

.carsBlock .carsArea .carsPlane {
    width: 1100px;
    position: relative;
    padding: 0 0 0 10px;
    margin: 0 auto;
}

.carsBlock .car {
    float: left;
    margin-right: 50px;
    position: relative;
    width: 220px;
    margin-top: 30px;
}

.carsBlock .car .cImage {
    width: 210px;
    height: 210px;
    overflow: hidden;
    margin-left: 50px;
    background-color: #ffffff;
    cursor: pointer;
    border-radius: 50%;
    -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.16);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.16);
}

.img-vertical {
    height: 100%;
    position: relative;
    display: block;
    overflow: visible;
    font-size: 0;
    line-height: 0;
    text-align: center;
}

.img-vertical:before {
    content: " ";
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.carsBlock .car .cImage img {
    width: 90%;
    height: auto;
}

.carsBlock .car .cLevel {
    /*background: #ffb51c;*/
	background: url(../img/ball.png) no-repeat;
    width: 80px;
    height: 80px;
    display: inline-block;
    position: absolute;
    left: -0px;
    top: 14px;
    color: #fff;
    text-align: center;
    font-family: 'Cuprum', sans-serif;
    text-transform: uppercase;
    border-radius: 50%;
    border-bottom: 3px solid #e4a014;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
}

.carsBlock .car .cLevel {
    line-height: 1.3;
}

.carsBlock .car .cLevel b {
    font-family: 'open sans';
    font-size: 20px;
    font-weight: 600;
    display: block;
    color: #ffffff;
    margin-top: 15px;
}

.carsBlock .car .cInfo {
    overflow: hidden;
    margin-bottom: 14px;
    text-align: center;
    float: left;
    margin-left: 30px;
    margin-top: 15px;
}

.carsBlock .car .cInfo .cPrice {
    color: white;
    font-size: 14px;
    float: left;
    text-align: right;
    white-space: nowrap;
    font-family: 'open sans';
    font-weight: 600;
    text-transform: uppercase;
}

.carsBlock .car .cInfo .cDesc {
    margin-left: 115px;
    font-family: 'open sans';
}

.carsBlock .car .cBuy {
    text-align: center;
}

.carsBlock .car .cBuy .buyButton {
    line-height: 40px;
    font-size: 18px;
}
.blueButton {
    background-color: #13adc0;
    border-bottom: 3px solid #1691a0;
    text-align: center;
    font-family: Cuprum,sans-serif;
    text-transform: uppercase;
    color: #fff!important;
    text-decoration: none!important;
    display: inline-block;
    border-radius: 50%;
    box-shadow: 0 2px 2px rgba(0,0,0,.1);
    line-height: 34px;
    height: 34px;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    margin-top: -110px;
    width: 40px;
    margin-left: -214px;
    height: 40px;
}

.blueButton:hover {
    background: #84cbfb;
    background: linear-gradient(to bottom,#84cbfb 0,#3a8bf8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#84cbfb', endColorstr='#3a8bf8', GradientType=0);
    color: #fff;
}

.footer {
    text-align: center;
    padding: 30px 0 40px 0;
    background: url(../images/tips.jpg) center top no-repeat #ffffff;
}

.footer .footer--bottom .footer--bottom_text {
    line-height: 20px;
    font-size: 18px;
    color: #ffffff;
    width: 100%;
    max-width: 982px;
    text-align: center;
    margin: 0 auto;
    font-weight: 600;
    text-shadow: 1px 1px 1px rgba(11, 29, 35, 0.06);
    font-family: 'open sans';
    padding-top: 80px;
    letter-spacing: 1px;
}

.page-inject {
flex: 1 0 auto;
}

.carsBlock .car .cLeve2 {
    position: absolute;
    left: 30px;
    top: 215px;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 12px;
}

.col-md-6 {
    width: 50%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.course__price {
    font-size: 14px;
    font-weight: 400;
    padding: 24px 23px 22px;
    color: #484847;
    background-color: #ECFAFF;
    box-shadow: inset 0 1px 3px rgba(220, 233, 243, .83);
}

.course__price-item {
    position: relative;
    margin-bottom: 22px;
}


.course__price-item:after {
    display: table;
    clear: both;
    content: '';
}

.course__price-value {
    float: right;
    font-size: 15px;
    line-height: 11px;
    color: #ffffff;
    border: 1px solid #ffb51c;
    border-radius: 2px;
    background: #ffb51c;
    font-weight: bold;
    padding: 5px 10px 5px 10px;
    z-index: 10;
    font-family: 'Open Sans', sans-serif;
    border-bottom: 2px solid #e4a014;
}

.course__price-kind {
    float: left;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    border-bottom: 1px dashed #484847;
    padding-top: 1px;
}

.course__price-item:last-child {
    margin-bottom: 0;
}

.layer {
    overflow-y: scroll;
    height: 505px;
    padding: 5px;
	width: 100%;
}
.textstr{
	width: 100%;
	text-align: left;
	margin: 15px 0;
	padding: 0 15px;
	color: #272727;
}
.textstrred{
	width: 100%;
	text-align: left;
	padding: 0 15px;
	font-family: 'HelveticaBold', Arial, Tahoma, sans-serif;
	font-weight: normal;
	color: #e80000;
}
.game1{
	width: 100%;
	height: 164px;
	background: url(../images/game1.jpg) no-repeat;
	background-size: cover;
}
.game{
	width: 180px;
	margin: 45px 24px 0 0;
	padding: 7px;
	border: 1px solid #dadada;
}
.game:hover{
	border: 1px solid #a5a5a5;
	cursor: pointer;
}
.namegame{
	width: 100%;
	text-align: center;
	font-family: 'HelveticaBold', Arial, Tahoma, sans-serif;
	font-weight: normal;
	color: #272727;
	font-size: 20px;
	margin: 15px 0 7px 0;
}

th{
	text-align:left
}

.table{
	width:100%;
	max-width:100%;
	margin-bottom:20px
}

.table>tbody>tr>td,.table>tbody>tr>th,.table>tfoot>tr>td,.table>tfoot>tr>th,.table>thead>tr>td,.table>thead>tr>th{
	padding:8px;
	line-height:1.42857143;
	vertical-align:top;
	border-top: 1px solid #ddd;
	color: #484847;
	font-weight: 600;
	font-family: 'open sans';
	line-height: 30px;
	font-size: 14px;
}

.table>thead>tr>th{
	vertical-align:bottom;
	border-bottom:2px solid #ddd
}

.table>caption+thead>tr:first-child>td,.table>caption+thead>tr:first-child>th,.table>colgroup+thead>tr:first-child>td,.table>colgroup+thead>tr:first-child>th,.table>thead:first-child>tr:first-child>td,.table>thead:first-child>tr:first-child>th{
	border-top:0
}

.table>tbody+tbody{
	border-top:2px solid #ddd
}

.table .table{
	background-color:#fff
}

.table-condensed>tbody>tr>td,.table-condensed>tbody>tr>th,.table-condensed>tfoot>tr>td,.table-condensed>tfoot>tr>th,.table-condensed>thead>tr>td,.table-condensed>thead>tr>th{
	padding:5px
}

.table-bordered{border: 1px solid #ddd;}

table {
    background-color: transparent;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
}

.table-bordered>tbody>tr>td,.table-bordered>tbody>tr>th,.table-bordered>tfoot>tr>td,.table-bordered>tfoot>tr>th,.table-bordered>thead>tr>td,.table-bordered>thead>tr>th{
	border:1px solid #ddd
}

.table-bordered>thead>tr>td,.table-bordered>thead>tr>th{
	border-bottom-width:2px
}

.table-striped>tbody>tr:nth-of-type(odd){
	background-color:#f9f9f9
}

.table-hover>tbody>tr:hover{
	background-color:#f5f5f5
}

table col[class*=col-]{
	position:static;
	display:table-column;
	float:none
}

table td[class*=col-],table th[class*=col-]{
	position:static;
	display:table-cell;
	float:none
}

.table>tbody>tr.active>td,.table>tbody>tr.active>th,.table>tbody>tr>td.active,.table>tbody>tr>th.active,.table>tfoot>tr.active>td,.table>tfoot>tr.active>th,.table>tfoot>tr>td.active,.table>tfoot>tr>th.active,.table>thead>tr.active>td,.table>thead>tr.active>th,.table>thead>tr>td.active,.table>thead>tr>th.active{
	background-color:#f5f5f5
}

.table-hover>tbody>tr.active:hover>td,.table-hover>tbody>tr.active:hover>th,.table-hover>tbody>tr:hover>.active,.table-hover>tbody>tr>td.active:hover,.table-hover>tbody>tr>th.active:hover{
	background-color:#e8e8e8
}

.table>tbody>tr.success>td,.table>tbody>tr.success>th,.table>tbody>tr>td.success,.table>tbody>tr>th.success,.table>tfoot>tr.success>td,.table>tfoot>tr.success>th,.table>tfoot>tr>td.success,.table>tfoot>tr>th.success,.table>thead>tr.success>td,.table>thead>tr.success>th,.table>thead>tr>td.success,.table>thead>tr>th.success{
	background-color:#dff0d8
}

.table-hover>tbody>tr.success:hover>td,.table-hover>tbody>tr.success:hover>th,.table-hover>tbody>tr:hover>.success,.table-hover>tbody>tr>td.success:hover,.table-hover>tbody>tr>th.success:hover{
	background-color:#d0e9c6
}

.table>tbody>tr.info>td,.table>tbody>tr.info>th,.table>tbody>tr>td.info,.table>tbody>tr>th.info,.table>tfoot>tr.info>td,.table>tfoot>tr.info>th,.table>tfoot>tr>td.info,.table>tfoot>tr>th.info,.table>thead>tr.info>td,.table>thead>tr.info>th,.table>thead>tr>td.info,.table>thead>tr>th.info{
	background-color:#d9edf7
}

.table-hover>tbody>tr.info:hover>td,.table-hover>tbody>tr.info:hover>th,.table-hover>tbody>tr:hover>.info,.table-hover>tbody>tr>td.info:hover,.table-hover>tbody>tr>th.info:hover{
	background-color:#c4e3f3
}

.table>tbody>tr.warning>td,.table>tbody>tr.warning>th,.table>tbody>tr>td.warning,.table>tbody>tr>th.warning,.table>tfoot>tr.warning>td,.table>tfoot>tr.warning>th,.table>tfoot>tr>td.warning,.table>tfoot>tr>th.warning,.table>thead>tr.warning>td,.table>thead>tr.warning>th,.table>thead>tr>td.warning,.table>thead>tr>th.warning{
	background-color:#fcf8e3
}

.table-hover>tbody>tr.warning:hover>td,.table-hover>tbody>tr.warning:hover>th,.table-hover>tbody>tr:hover>.warning,.table-hover>tbody>tr>td.warning:hover,.table-hover>tbody>tr>th.warning:hover{
	background-color:#faf2cc
}

.table>tbody>tr.danger>td,.table>tbody>tr.danger>th,.table>tbody>tr>td.danger,.table>tbody>tr>th.danger,.table>tfoot>tr.danger>td,.table>tfoot>tr.danger>th,.table>tfoot>tr>td.danger,.table>tfoot>tr>th.danger,.table>thead>tr.danger>td,.table>thead>tr.danger>th,.table>thead>tr>td.danger,.table>thead>tr>th.danger{
	background-color:#f2dede
}

.table-hover>tbody>tr.danger:hover>td,.table-hover>tbody>tr.danger:hover>th,.table-hover>tbody>tr:hover>.danger,.table-hover>tbody>tr>td.danger:hover,.table-hover>tbody>tr>th.danger:hover{
	background-color:#ebcccc
}

.table-responsive{
	min-height:.01%;
	overflow-x:auto
}
.pred {
	color: #d20000;
	font-size: 15px;
	width: 100%;
	margin: 35px 0 0 0;
	padding: 0 70px;
	font-family: 'HelveticaBold', Arial, Tahoma, sans-serif;
	font-weight: normal;
}


/*.bright {
    border-radius: 4px;
    width: 800px;
    float: right;
}*/

.col-xs-3 {
    width: 24.3%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 20px;
}

.panel-leftbar {
    /*box-shadow: inset 0 0 0 10px #fff, inset 0 0 0 11px #ffffff, 0 1px 9px rgba(0, 26, 51, .2) !important;*/
    padding: 5px;
}
.panel {
	-webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.1);
    background: white;
    margin: 20px;
    padding: 20px;
}
.panel2 {
	-webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.1);
    background: white;
    padding: 15px;
}
.tableeggs{
	width: 400px;
	border: none;
}
.tableeggs td{
	border: none;
	text-align: center;
	padding: 7px;
	font-family: 'HelveticaBold', Arial, Tahoma, sans-serif;
	font-weight: normal;
	color: #272727;
}
.serlink2{
	padding: 4px 12px;
	background: #e6e6e6;
	border-radius: 2px;
    font-family: 'HelveticaBold', Arial, Tahoma, sans-serif;
    font-weight: normal;
	color:#272727;
}
.zddimg{
	width: 27px;
	height: 37px;
}
.zdd1{
	background: url(../images/flat.png) no-repeat;
	background-size: cover;
}
.panel-leftbar > .title-box {
    position: relative;
    height: 30px;
    line-height: 30px;
    background: #13adc0;
    margin-top: 10px;
    margin-left: -11px;
    margin-bottom: 10px;
    padding-left: 10px;
    color: #fff;
    width: 80%;
    z-index: 10;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 600;
}
.title-box {
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -web-kit-user-select: none;
}

.ul-box {
    transition: all .3s;
}

.panel-leftbar > .title-box:before {
    position: absolute;
    content: '';
    left: 0;
    top: 30px;
    border: 10px solid transparent;
    border-top: 5px solid #066f7b;
    border-right: 1px;
}

.panel-leftbar > .title-box:after {
    position: absolute;
    content: '';
    right: -10px;
    top: 0;
    border: 15px solid #13adc0;
    border-right: 10px solid transparent;
    border-left: 1px;
}
nav {
	border-bottom: 1px solid #e6e5e5;
	background: white;
	z-index: 1;
}

.nav-leftbar {
    transition: all .3s;
    margin-top: 0px;
}
.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-leftbar > li > a {
    margin: 2px 0px 0px 0px;
    height: 35px;
    line-height: 35px;
    padding: 0px 0px 0px 10px;
    border-radius: 0px;
    color: white;
    font-size: 14px !important;
    font-weight: 600;
}

.nav>li>a {
    position: relative;
    display: block;
}

.bt1 {
    padding: 5px 10px;
    background: #13adc0;
    text-transform: uppercase;
    font-size: 13px;
    color: #fff !important;
    border-bottom: 2px solid #1198a9;
    border-radius: 2px;
}

.bt2 {
    padding: 5px 10px;
    background: #5eb64f;
    text-transform: uppercase;
    font-size: 13px;
    color: #fff !important;
    border-bottom: 2px solid #3fa750;
    border-radius: 2px;
}

.nav-leftbar > li > a:hover, .nav-leftbar > li > a:active, .nav-leftbar > li > a:focus, .nav-leftbar > li > a:active:hover, .nav-leftbar > li > a:focus:hover {
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
}

.bright .fishes {
    position: relative;
    margin-top: 20px;
    /*overflow: hidden;*/
    padding-bottom: 50px;
}

.col-md-44 {
    width: 20%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.bright .fishes  img {
    height: auto;
    max-width: 80%;
    vertical-align: middle;
    border: 0;
    margin-left: 10px;
    margin-top: 15px;
}

.bright .fishes .panel-body {
	padding: 0!important;
}

.bright .fishes .panel-body p {
    border-radius: 50%;
    position: absolute;
    font-size: 14px;
    font-weight: bold;
    margin-top: 25px;
    width: 110px;
}

.bright .fishes .panel-body p i {
	display: inline;
}

.bright .fishes .panel {
    padding: 10px 0px 0px 10px;
    border-radius: 50%;
    -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.16);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.16);
    width: 130px;
    height: 130px;
}

.about-block {
    /*background: #ffb51c;*/
	background: url(../img/ball.png) no-repeat;
    width: 80px;
    height: 80px;
    position: absolute;
    right: 9px;
    top: 4px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    border-radius: 50%;
    border-bottom: 3px solid #e4a014;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
}

.box .inner {
    padding: 0px 0px 10px 0px;
    position: relative;
    overflow: hidden;
    line-height: 28px;
    margin: 0;
    font-family: 'open sans';
}

.box .inner h3 {
    line-height: 2;
    height: 20px;
    margin-top: 0px;
    display: block;
    color: #484847;
    font-size: 16px;
}

.layout {
    padding: 0px 0 0px;
    margin: 0 auto;
    0: 1170px
    overflow: hidden;
    overflow: hidden;
}

ol {
    counter-reset: myCounter;
    margin-left: 0;
    padding-left: 5px;
    color: rgb(72, 72, 71);
}


	  
.boxs {
    margin: 15px 0 10px;
    overflow: hidden;
    height: 45px;
}

.title-social {
    float: left;
    font-size: 16px;
    line-height: 40px;
    margin-right: 10px;
    font-weight: bold;
}

.social {
    float: left;
}

.social a {
    margin: 0 2px;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    height: 40px;
    width: 40px;
}

.social a i {
    width: 40px;
    height: 40px;
    margin: 0 2px;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    border-radius: 5%;
    color: #fff;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    border-radius: 25px;
    background: #119dae;
    text-align: center;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.3);
}
.social {
	float: left;
}

.social-links__link {
	margin-bottom: 10px;
	display: inline-block;
}

.block_img1 {
    border-radius: 50%;
    -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.16);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.16);
    width: 170px;
    height: 170px;
    border-radius: 90px;
    padding: 10px;
    display: inline-block;
    position: relative;
    left: 7px;
    top: 16px;
}


.red{
	padding: 3px 9px;
	background: #b7333b !important;
	color: #ffffff !important;
	border-radius: 2px;
	font-family: 'HelveticaBold', Arial, Tahoma, sans-serif;
	font-weight: normal;
}
.yellow{
    padding: 3px 9px;
    background: #ffed8f !important;
    color: #212121 !important;
    border-radius: 2px;
    font-family: 'HelveticaBold', Arial, Tahoma, sans-serif;
    font-weight: normal;
}
.black{
	padding: 3px 9px;
	background: #2f2f2f !important;
	color: #ffffff !important;
	border-radius: 2px;
	font-family: 'HelveticaBold', Arial, Tahoma, sans-serif;
	font-weight: normal;
}
.fiol{
	padding: 3px 9px;
	background: #8f0090 !important;
	color: #ffffff !important;
	border-radius: 2px;
	font-family: 'HelveticaBold', Arial, Tahoma, sans-serif;
	font-weight: normal;
}
.orange{
	padding: 3px 9px;
	background: #f5a714 !important;
	color: #fff !important;
	border-radius: 2px;
    font-family: 'HelveticaBold', Arial, Tahoma, sans-serif;
    font-weight: normal;
}
.header-stores {
    position: absolute;
    z-index: 10;
    top: 60px;
    left: 0;
    right: 0;
    text-align: center;
}	 
	  
.header-stores h4 {
    margin-top: 4px;
    color: #ffffff;
    margin-bottom: 0px;
}
 
.header-stores ul {
    overflow: hidden;
}	  

.header-stores li {
    position: relative;
    font-size: 16px;
    line-height: 26px;
    text-transform: uppercase;
    text-align: center;
    list-style: none;
    font-family: 'Open Sans', sans-serif;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-shadow: 1px 1px 10px rgba(28, 29, 31, 0.41);
}

.header-stores .layout {
    margin: 0 auto;
	max-width: 1300px;
}

.header-stores .layout ul {
	padding: 0;
	display: flex;
	justify-content: space-around;
}

.include-icon {
    padding-top: 1px;
    color: #ffffff;
    font-size: 25px;
    font-weight: bold;
}

.button-left {
    width: 240px;
    height: 60px;    
    display: block;
    position: fixed;
    left: -190px;
    z-index: 49;
    transition: .3s;
}
.skype-btn {
    top: 230px;
}
.telegram-btn {
    top: 310px;
}
.telegram-btn2 {
    top: 390px;
}
.video-button {
    top: 390px;
}
.button-left:hover {
    left: 0;    
}


.stat-acc {
    display: table;
    width: 100%;
}

.four {
    width: 100%;
}
.col {
    display: table-cell;
}

.input-green {
    background: #4bc05e;
}

.input-blue {
    background: #5bc0de;
}

.input-red {
    background: #ef6d5b;
}

.bt3 {
font-size: 18px;
}



.head_p_01 {background: url(../images/parallax_head3.png);background-position:0px 0px;
	width:1398px;height:512px;position: absolute;margin-top:-5px;}
.head_p_02 {background:url(../images/parallax_head3.png);background-position:0px -520px;
	width:1398px;height:512px;position: absolute;margin-top:-5px;}
.head_p_03 {background:url(../images/parallax_head3.png) repeat-x;background-position:0px -1040px;
	width:2796px;height:575px;position: absolute;margin-top:-5px;}
.head_p_04 {background:url(../images/parallax_head3.png) repeat-x;background-position:0px -1623px;
	width:2796px;height:748px;position: absolute;margin-top:-5px;}

.cloud_01{position: absolute; width:100%;height:205px;}
.cloud_01_a{background: url(../images/cloud_01_2.png) repeat;width:100%;height:100%;
position: absolute;
animation: animationFrames linear 22s;
-webkit-animation: animationFrames linear 22s;
-moz-animation: animationFrames linear 22s;
-o-animation: animationFrames linear 22s;
-ms-animation: animationFrames linear 22s;
-webkit-animation-name: 'clods1';
-moz-animation-name: clods1;
animation-name: 'clods1';
-o-animation-name: 'clods1';
animation-iteration-count:infinite;
-webkit-animation-iteration-count:infinite;
-moz-animation-iteration-count:infinite;
-o-animation-iteration-count:infinite; }
@keyframes 'clods1' {
from { background-position: 0% 0;}
to {background-position: 100% 0;}}
@-webkit-keyframes 'clods1' {
from { background-position: 0% 0;}
to { background-position: 100% 0;} }
@-o-keyframes 'clods1' {
from { background-position: 0% 0; }
to { background-position: 100% 0;} }
@-moz-keyframes clods1 {
from { background-position: 0% 0;}
to { background-position: 100% 0;} }

.cloud_02{position: absolute; width:100%;height:196px; margin-top:200px;}
.cloud_02_a{background: url(../images/cloud_01_3.png) repeat;width:100%;height:100%;
position: absolute;
animation: animationFrames linear 15s;
-webkit-animation: animationFrames linear 15s;
-moz-animation: animationFrames linear 15s;
-o-animation: animationFrames linear 15s;
-ms-animation: animationFrames linear 15s;
-webkit-animation-name: 'clods2';
-moz-animation-name: clods2;
animation-name: 'clods2';
-o-animation-name: 'clods2';
animation-iteration-count:infinite;
-webkit-animation-iteration-count:infinite;
-moz-animation-iteration-count:infinite;
-o-animation-iteration-count:infinite; }
@keyframes 'clods2' {
from { background-position: 0% 0;}
to {background-position: 100% 0;}}
@-webkit-keyframes 'clods2' {
from { background-position: 0% 0;}
to { background-position: 100% 0;} }
@-o-keyframes 'clods2' {
from { background-position: 0% 0; }
to { background-position: 100% 0;} }
@-moz-keyframes clods2 {
from { background-position: 0% 0;}
to { background-position: 100% 0;} }

.starbust{
	position:absolute;
	background:url(../images/sun_04.png);
	width:300px;
	height:300px;
	margin:40px 0 0 550px;
	 -webkit-animation-name: spin;
    -webkit-animation-duration: 40000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 40000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 40000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    -o-transition: rotate(3600deg);}
@-moz-keyframes spin {from { -moz-transform: rotate(0deg); }to { -moz-transform: rotate(360deg); }}
@-webkit-keyframes spin { from { -webkit-transform: rotate(0deg); }to { -webkit-transform: rotate(360deg); }}
@keyframes spin {from {transform:rotate(0deg);}to {transform:rotate(360deg);}}
	
.starbust2{
	position:absolute;
	background:url(../images/sun_04.png);
	width:300px;
	height:300px;
	margin:40px 0 0 550px;
	 -webkit-animation-name: spin;
    -webkit-animation-duration: 30000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 30000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 30000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    -o-transition: rotate(3600deg);}










.car_b {background:url(../images/transport.png);background-position:0px -40px;width:68px;height:34px;}
.car_b_a{
position: absolute;
margin:570px 0 0 0;
animation: animationFrames linear 7s;
-webkit-animation: animationFrames linear 7s;
-moz-animation: animationFrames linear 7s;
-o-animation: animationFrames linear 7s;
-ms-animation: animationFrames linear 7s;
-webkit-animation-name: 'movement1';
-moz-animation-name: movement1;
animation-name: 'movement1';
-o-animation-name: 'movement1';
animation-iteration-count:infinite;
-webkit-animation-iteration-count:infinite;
-moz-animation-iteration-count:infinite;
-o-animation-iteration-count:infinite; }
@keyframes 'movement1' {
from { top:0px; left: -5%; opacity:1;}
to {top:0px; left: 110%; opacity:1;}}
@-webkit-keyframes 'movement1' {
from { top:0px; left: -5%; opacity:1;}
to { top:0px; left: 110%; opacity:1;} }
@-o-keyframes 'movement1' {
from { top:0px; left: -5%;opacity:1; }
to { top:0px; left: 110%;opacity:1;} }
@-moz-keyframes movement1 {
from { top:0px; left: -5%;opacity:1;}
to { top:0px; left: 110%;opacity:1;} }

.car_y {background:url(../images/transport.png);background-position:0px 0px;width:68px;height:34px;}
.car_y_a{position: absolute;margin:545px 0 0 0;
animation: animationFrames linear 8s;
-webkit-animation: animationFrames linear 8s;
-moz-animation: animationFrames linear 8s;
-o-animation: animationFrames linear 8s;
-ms-animation: animationFrames linear 8s;
-webkit-animation-name: 'movement2';
-moz-animation-name: movement2;
animation-name: 'movement2';
-o-animation-name: 'movement2';
animation-iteration-count:infinite;
-webkit-animation-iteration-count:infinite;
-moz-animation-iteration-count:infinite;
-o-animation-iteration-count:infinite; }
@keyframes 'movement2' {
from { top:0px; right: -5%; opacity:1;}
to {top:0px; right: 100%; opacity:1;}}
@-webkit-keyframes 'movement2' {
from { top:0px; right: -5%; opacity:1;}
to { top:0px; right: 100%; opacity:1;} }
@-o-keyframes 'movement2' {
from { top:0px; right: -5%;opacity:1; }
to { top:0px; right: 100%;opacity:1;} }
@-moz-keyframes movement2 {
from { top:0px; right: -5%;opacity:1;}
to { top:0px; right: 100%;opacity:1;} }

.gruz {background:url(../images/transport.png);background-position:0px -80px;width:125px;height:55px;}
.gruz_a{position: absolute;margin:520px 0 0 0;
animation: animationFrames linear 15s;
-webkit-animation: animationFrames linear 15s;
-moz-animation: animationFrames linear 15s;
-o-animation: animationFrames linear 15;
-ms-animation: animationFrames linear 15s;
-webkit-animation-name: 'movement3';
-moz-animation-name: movement3;
animation-name: 'movement3';
-o-animation-name: 'movement3';
animation-iteration-count:infinite;
-webkit-animation-iteration-count:infinite;
-moz-animation-iteration-count:infinite;
-o-animation-iteration-count:infinite; }
@keyframes 'movement3' {
from { top:0px; right: -25%; opacity:1;}
to {top:0px; right: 105%; opacity:1;}}
@-webkit-keyframes 'movement3' {
from { top:0px; right: -25%; opacity:1;}
to { top:0px; right: 105%; opacity:1;} }
@-o-keyframes 'movement3' {
from { top:0px; right: -25%;opacity:1; }
to { top:0px; right: 105%;opacity:1;} }
@-moz-keyframes movement3 {
from { top:0px; right: -25%;opacity:1;}
to { top:0px; right: 105%;opacity:1;} }

.avtobus {background:url(../images/transport.png);background-position:0px -140px;width:125px;height:49px;}
.avtobus_a{position: absolute;margin:555px 0 0 0;
animation: animationFrames linear 21s;
-webkit-animation: animationFrames linear 21s;
-moz-animation: animationFrames linear 21s;
-o-animation: animationFrames linear 21s;
-ms-animation: animationFrames linear 21s;
-webkit-animation-name: 'movement4';
-moz-animation-name: movement4;
animation-name: 'movement4';
-o-animation-name: 'movement4';
animation-iteration-count:infinite;
-webkit-animation-iteration-count:infinite;
-moz-animation-iteration-count:infinite;
-o-animation-iteration-count:infinite; }
@keyframes 'movement4' {
from { top:0px; left: -10%; opacity:1;}
to {top:0px; left: 105%; opacity:1;}}
@-webkit-keyframes 'movement4' {
from { top:0px; left: -10%; opacity:1;}
to { top:0px; left: 105%; opacity:1;} }
@-o-keyframes 'movement4' {
from { top:0px; left: -10%;opacity:1; }
to { top:0px; left: 105%;opacity:1;} }
@-moz-keyframes movement4 {
from { top:0px; left: -10%;opacity:1;}
to { top:0px; left: 105%;opacity:1;} }

.divcheckbox{
	float: left;
	position: relative;
}
.divider-2 {
    display: inline-block;
    border: 0;
    height: 2px;
    background-image: -webkit-linear-gradient(left, #cccccc8f, #33333380, #cccccc8f);
}

.redlink{
	color: #c11532;
	font-family: 'HelveticaBold', Arial, Tahoma, sans-serif;
	font-weight: normal;
	text-decoration: none;
}
.redlink:hover{
	border-bottom: 1px solid #c11532;
	cursor: pointer;
}
.birdname{
	width: 100%;
	margin-bottom: 6px;
	font-size: 25px;
	font-family: 'HelveticaBold', Arial, Tahoma, sans-serif;
	font-weight: normal;
	color: #272727;
}
.itembird{
	width: 100%;
	padding: 6px 0;
	font-size: 15px;
	font-family: 'HelveticaBold', Arial, Tahoma, sans-serif;
	font-weight: normal;
	color: #272727;
}

.title-wrap {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    text-align: center;
    margin-bottom: 30px;
}

.pt-15 {
    padding-top: 15px!important;
}

.pt-50 {
    padding-top: 50px!important;
}

.light-font {
    font-weight: 300!important;
}

.section-title {
    font-size: 40px;
    letter-spacing: 1px;
	margin-bottom: 5px;
	font-family: 'Open Sans', sans-serif;
}

.section-title strong {
    position: relative;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.sub-title {
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.block-inline {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
}

.food-quality > div {
    padding-left: 0;
    padding-right: 0;
}

.left .quality-img {
    float: right;
}

.right .quality-img {
    float: left;
}

.quality-img {
    background-color: #f2f2f2;
    border-radius: 50%;
    height: 60px;
    line-height: 55px;
    text-align: center;
    width: 60px;
}

.left .quality-caption {
    margin-right: 80px;
    text-align: right;
}

.right .quality-caption {
    margin-left: 80px;
    text-align: left;
}

.quality-caption {
    display: block;
}

.index-f-title {
    letter-spacing: 1px;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 5px;
}

.index-f-divider {
    margin-bottom: 5px;
	max-width: 200px;
	width: 100%;
}

.index-f-info {
    font-size: 16px!important;
    font-family: 'Open Sans', sans-serif!important;
	letter-spacing: 0px;
	margin-top: 5px;
}

.signup-link {
	display: block;
	text-align: center;
	font-size: 21px;
	text-transform:uppercase;
	color: #ffffff;
	border: 1px solid #ffb51c;
	border-radius: 2px;
	background: #ffb51c;
	font-weight: bold;
	padding: 8px 20px 8px 20px;
	z-index: 10;
	font-family: 'Open Sans', sans-serif;
	border-bottom: 2px solid #e4a014;
	text-decoration: none;
	max-width: 600px;
	margin: 0 auto;
}

.signup-link:hover {
	text-decoration: none;
	color: white;
}

.info .h2 {
	font-size: 30px;
	text-align: center;
	font-weight: 900;
}

.index-s-divider {
	width: 100%;
}

header {
	height: 50px;
	margin-top: 10px;
	
}

header .nav-block {
	float: left;
	text-align: center;
}

header .nav-btn-block {
	float: right;
}

.navbar .navbar-nav .nav-item a {
    z-index: 140;
    font-size: 16px;
    position: relative;
    color: #484847;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    padding: 10px;
    display: block;
    font-weight: 600;
    -webkit-transition: all 0.2s ease-in-out .2s;
    -moz-transition: all 0.2s ease-in-out .2s;
    -o-transition: all 0.2s ease-in-out .2s;
    -ms-transition: all 0.2s ease-in-out .2s;
    transition: all 0.2s ease-in-out .2s;
}

.navbar .navbar-nav .nav-item a:hover {
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    border-bottom: 1px solid;
}

.nav-btns ul {
	margin: 0;
}

.nav-btns ul a {
	text-decoration: none;
}

.nav-btns ul a {
	color: white;
}

.tower-img {
	width: 100%;
}

.col-sm-9.panel-leftbar {
	padding: 20px;
}

.padding-15 {
	padding: 15px;
}

.header-vector {
    width: 100%;
    height: 580px;
    background: url(/img/vector/3.jpg);
    background-size: 100% 700px;
    background-position: 0px -170px;
    position: relative;
    margin-top: -50px;
}

.pattern {
	margin-top: -25px;
	position: relative;
}

.pattern img {
	width: 100%;
}

.block_info h5 {
	color: rgba(55,55,55,0.8)!important;
    font-family: sans-serif;
    font-size: 18px;
}

.block_info h5 span {
	float: right;
}

.buy_farm-btn-block {
	margin-bottom: 20px;
    margin-top: 20px;
}

.buy_farm-btn {
    border: 1px solid #2e313d;
    background-color: transparent;
    width: 100%;
    border-radius: 5px;
    color: #2e313d;
    padding: 5px;
    cursor: pointer;
	-webkit-transition: 111ms ease-in-out;
}

.buy_farm-btn:focus, .buy_farm-btn:hover {
    color: #fff;
    background-color: #2e313d;
    border-color: #2e313d;
}

.links .nav-leftbar li a:hover {
    color: #fff!important;
    background-color: #2e313d;
    border-color: #2e313d;
}

.surfblock1 {
    background: #d9edf7;
    text-shadow: 1px 1px 1px #edfffd;
    box-shadow: inset 0px -1px 0px #b0cfe0;
}

.surflink img {
    display: inline;
    margin-right: 5px;
}

.surflink h4 {
    display: inline;
    font-size: 16px;
}

.surflinkgoto {
    color: #000;
    letter-spacing: 1px;
    font-family: sans-serif;
}

.surflinkgoto:hover {
    color: #9c3636;
}

.surfabuselink {
    float: right;
    color: #21496b;
    text-shadow: 1px 1px 1px #fff;
    font-family: sans-serif;
}

.surflink h6 {
    margin-bottom: 0;
    font-weight: 100;
    font-size: 13px;
    font-family: sans-serif;
    letter-spacing: 0.5px;
	margin-top: 10px;
}

.surftimer {
    color: #505050;
}

.surfprice {
    color: #0e6910;
    margin-left: 15px;
}

.surfviewleft {
    float: right;
    color: #000;
    text-shadow: 1px 1px 1px #fff;
}

.panel-default {
    border-color: #e1e8ed;
}

.panel-product .panel-name {
    text-align: center;
	margin-top: 10px;
}

.surfblock3 {
    background: #ffe5c3;
    text-shadow: 1px 1px 1px #fff9ed;
    box-shadow: inset 0px -1px 0px #e2b87f;
}

.surfblockopen {
    background-color: #F0F0F0;
    border-color: #D0D0D0;
    color: #808080;
    background: url(/images/visited.png) no-repeat center #f0f0f0;
    opacity: 0.6;
    box-shadow: 0px 1px 0px #dcdcdc!important;
}

/* jQuery Countdown styles 2.0.0. */

.countdown-rtl {
	direction: rtl;
}
.countdown-holding span {
	color: #888;
}

.countdown-section {
    display: inline-block;
    text-align: center;
    margin: auto 3px;
    width: 80px;
    height: 80px;
    border-radius: 6px;
	background: rgba(0,0,0,0) linear-gradient(to top,rgba(143, 140, 136, 0.79) 0%,#22d260 100%) repeat scroll 0 0;
}
.countdown-amount {
    display: inline-block;
    font-size: 35px;
    font-weight: 900;
    padding-top: 7px;
    color: #333;
    text-shadow: 1px 1px #ffdc7b;
    line-height: normal;
    margin: 0;
    text-align: center;
    text-transform: capitalize;
    font-family: sans-serif;
}
.countdown-period {
    clear: both;
    color: #fff;
    letter-spacing: 1px;
    display: block;
    font-size: 13px;
    text-shadow: 1px 1px #a86628;
    font-weight: 900;
    line-height: normal;
    margin: 0;
    overflow: hidden;
    position: relative;
    text-transform: none;
}
.countdown-descr {
	display: block;
	width: 100%;
}

.countdown-wrapper {
	position: absolute;
	bottom: 30px;
	width: 100%;
}

#defaultCountdown {
	width: 345px;
	margin: 0 auto;
}

.nav-btns {
	z-index: 10;
}

.bright .build {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
}

.stat-acc p {
	font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
}

.stat-acc .four div {
    font-size: 18px;
    padding: 5px;
    color: #fff;
    border-radius: 4px;
	margin-bottom: 10px;
	text-align: center;
}


#footer {
    margin: 0 auto;
    padding: 30px;
    color: black;
	border-top: 1px solid #e6e5e5;
	background: white;
}

.main {
	background: url('/img/main_fon.jpg')
}

.main__container, .footer__container {
	max-width: 1350px !important;
	margin: 0 auto !important;
	background-color: white;
}

.container-fluid__main {
	padding-top: 10px;
	padding-left: 30px !important;
	padding-right: 30px;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}

.footer-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
	
}

.footer-content .footer-block {
    margin: 20px;
    text-align: center;
    font-size: 12px;
	max-width: 670px;
}

.footer-content .footer-block ul {
    text-align: left;
    display: inline-block;
}

.footer-content .footer-block ul li { margin-bottom: 20px; }

.footer-content .footer-block ul li
a {
    font-size: 12px;
    color: black;
}

.footer-content .footer-block ul li
a:hover {
    transition: 0.6s;
    text-decoration: underline;
}

.footer-content .footer-block h2 {
    font-size: 16px;
    font-weight: lighter;
}
@media (max-width: 1565px) 
{.footer-block_lnc
 {    margin: 20px auto!important;}
}

.footer-content .footer-block
.btn-social {
    width: 60px;
    height: 60px;
    box-sizing: border-box;
    text-align: center;
    border: solid 1px #ffffff;
    border-radius: 30px;
    font-size: 24px;
    padding-top: 14px;
    margin: 15px;
    color: #fff;
}

.footer-content .footer-block
.btn-social:hover {
    transition: 0.6s;
    opacity: 0.4;
}

/*-----*/

.leftmenu {
    background-color: #2e313d;
    max-width: 250px;
    border-right: 1px solid #e3e3e3;
    padding-top: 20px;
	padding-bottom: 20px;
    color: white;
}

.leftmenu a {
	color: white;
}

.leftmenu a:hover {
	color: white;
}

.leftmenu .menu-heading {
	text-align: center;
	padding: 10px 20px;
	border-bottom: 1px solid rgba(255,255,255,.035);
	text-transform: uppercase;
}

.leftmenu .balance {
	border-bottom: 1px solid rgba(255,255,255,.035);
	border-top: 1px solid rgba(255,255,255,.035);
}

.leftmenu .links ul li {
	border-bottom: 1px solid rgba(255,255,255,.035);
	padding: 5px;
}

.leftmenu ul li i {
	opacity: .7;
	-webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}

.leftmenu ul li a:hover i {
	opacity: 1;
}

.content {
	-webkit-box-flex: 0;
    -ms-flex: 0 0 calc(100% - 260px);
    flex: 0 0 calc(100% - 260px);
    max-width: calc(100% - 260px);
}

/* .content  */
.container {
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.1);
    background: white;
    padding: 20px;
    width: 100%;
    max-width: 97%;
}

.garden_list_item_img {
	width: 100%;
}

.quality-img>div {
	position: relative;
    top: 15px;
    left: 15px;
	width: 32px;
	height: 32px;
}

.quality-img .im1 {
    background: url('/img/icons/quality_sprites.png') -10px -10px;
}
.quality-img .im2 {
    background: url('/img/icons/quality_sprites.png') -62px -10px;
}
.quality-img .im3 {
    background: url('/img/icons/quality_sprites.png') -10px -62px;
}
.quality-img .im4 {
    background: url('/img/icons/quality_sprites.png') -62px -62px;;
}
.quality-img .im5 {
    background: url('/img/icons/quality_sprites.png') -114px -10px;
}
.quality-img .im6 {
    background: url('/img/icons/quality_sprites.png') -114px -62px;
}

.aLeft {
	font-size: 60px;
    cursor: pointer;
    top: 130px;
    position: absolute;
    z-index: 1;
	left: 17px;
	color: #ffb51c;
}
.aRight {
	font-size: 60px;
    cursor: pointer;
    top: 130px;
    position: absolute;
    z-index: 1;
	right: 17px;
	color: #ffb51c;
}

.balance-menu {
	float: right;
	color: #484847;
	height: 24px;
	line-height: 21px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 25px;
	margin-top: 6px;
	border: 1px solid #e7e7e7;
	background: #f9f9f9;
	margin-right: 10px;
}

.calc_resultline {
    font-size: 16px;
    letter-spacing: 1px;
    color: #000000;
    font-weight: bold;
    margin-top: 5px;
}

.calc_resultline div {
    float: right;
    font-family: sans-serif;
    color: #670000;
    font-weight: 100;
}

.calc_btn {
	border:2px solid black;
	transition: all 0.3s;
}

.calc_btn:hover {
	border: 0;
	transition: all 0.3s;
}

.alert_store_suc {
	margin: 5px 0;
    padding: 8px 35px 8px 14px;	
	text-transform: uppercase;
	border-radius: 5px;
    border: 2px solid lightgreen;
}

.alert_store_err {
	margin: 5px 0;
    padding: 8px 35px 8px 14px;	
	text-transform: uppercase;
	border-radius: 5px;
    border: 2px solid lightcoral;
}

.panel-default > .panel-heading {
    border-bottom: none;
    color: #2a323c;
    text-shadow: 1px 1px 0 #fff;
	height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.racetabletitle {
    text-align: center;
    letter-spacing: 1px;
    font-size: 17px;
}

.panel2.panel-default {
	padding-top: 10px;
}

.panel2.panel-default .panel-heading {
	margin-bottom: 20px;
}

.raceusertr td {
	font-family: sans-serif!important;
}

.raceusertr sup {
    color: #d22;
}

.raceactivetr {
    background: #fffbdc !important;
}

.col-xs-12 {
	width: 100%;
}

.btn-class{
 display: inline-block;
 border:1px solid #000;
 color: #FFFFFF;
 border-radius: 3px 3px 3px 3px;
 -webkit-border-radius: 3px 3px 3px 3px;
 -moz-border-radius: 3px 3px 3px 3px;
 font-family: Verdana;
 width: auto;
 height: auto;
 font-size: 16px;
 padding: 10px 25px;
 box-shadow: inset 0 1px 0 0 #FFF6CE,inset 0 -1px 0 0 #E3C852,inset 0 0 0 1px #FCE88D,0 2px 4px 0 #D4D4D4;
 -moz-box-shadow: inset 0 1px 0 0 #FFF6CE,inset 0 -1px 0 0 #E3C852,inset 0 0 0 1px #FCE88D,0 2px 4px 0 #D4D4D4;
 -webkit-box-shadow: inset 0 1px 0 0 #FFF6CE,inset 0 -1px 0 0 #E3C852,inset 0 0 0 1px #FCE88D,0 2px 4px 0 #D4D4D4;
 text-shadow: 0 1px 0 #FFFFFF;
 background-color: #FFB51C;
}
.btn-class:hover, .btn-class:active{
 border:1px solid #967D09;
 color: #705D07;
 box-shadow: inset 0 1px 0 0 #FFF6CE,inset 0 -1px 0 0 #E3C852,inset 0 0 0 1px #FCE88D;
 -moz-box-shadow: inset 0 1px 0 0 #FFF6CE,inset 0 -1px 0 0 #E3C852,inset 0 0 0 1px #FCE88D;
 -webkit-box-shadow: inset 0 1px 0 0 #FFF6CE,inset 0 -1px 0 0 #E3C852,inset 0 0 0 1px #FCE88D;
 background-color: #FCDF5B;
}

.adm-menu {
	position: fixed;
    right: 10px;
    top: 10px;
    text-align: center;
    z-index: 9999;
}

.addsurf_h5 {
    text-align: left;
    font-size: 19px;
    font-weight: 100;
}

.addsurf_h5 div {
    display: inline;
    float: right;
    font-size: 16px;
    font-weight: 100;
    font-family: sans-serif;
}

.addsurf_fbtn {
	text-align: center;
}

.addsurf_fbtn button {
	border: 1px solid;
}

.panel-heading {
    border: none !important;
    padding: 10px 20px;
}

.panel-default > .panel-heading {
	background-color: #fafafa;
    border-bottom: none;
    color: #2a323c;
    text-shadow: 1px 1px 0 #fff;
}

.panel3 {
	border: none;
    -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
	background: white;
	min-height: 330px;
}

.panel3 .panel-body {
    padding: 20px;
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 18px;
    color: inherit;
}

.buks .checkbox label {
	display: inline;
}

.addsurf_btngroup button {
	border: 1px solid;
}

.addsurf_balance {
    font-weight: bold;
    font-size: 16px;
    display: inline;
}

.addsurf_status {
    font-weight: bold;
    font-size: 16px;
    display: inline;
    float: right;
}

.addsurf_sitebox h6 {
    margin-bottom: 0;
    font-weight: 100;
    font-size: 14px;
    font-family: sans-serif;
    letter-spacing: 1px;
}

.surftimer {
    color: #a94442;
}

.surfprice {
    color: #0e6910;
    margin-left: 15px;
}

.modal-header {
	display: block;
}

.href-checkbox {
	cursor: pointer;
	color: #337ab7!important
}

.href-checkbox:hover {
	color: #23527c!important
}

.btn-primary {
	border:1px solid;
}

.btn-block {
	margin: 0;
}

.modal-footer .btn {
	border: 1px solid;
}

.text-primary {
  color: #5cb45b;
}

.exchange_formelem .btn {
	margin-top: 10px;
	border: 2px solid;
}

.header-vector__mark {
	text-align: center;
	position: absolute;
	color: white;
	font-size: 36px;
	bottom: 115px;
	width: 100%;
}

.panel-body {
	padding-top: 15px;
}

.container-fluid__container {
	display: flex;
}
@media screen and (max-width:767px){
	.container-fluid__container {
		flex-direction: column;
	}
	.index-992-none {
		display: none;
	}
	.container-fluid__container__f {
		flex: none !important;
	}
}

@media screen and (max-width:350px) {
	.countdown-section {
		width: 74px !important;
	}
}
