html, body {
    font: 12px tahoma, arial, sans-serif;
    color: #454545;
    line-height: 1.3;
    height: 100%;
    padding: 0;
    margin: 0;
}
table.serfframe {
    text-align: center;
    border-collapse: separate;
    width: 100%;
    border: none;
    margin: 0;
	height: 100%;
}
table.serfframe td {
    padding: 3px 5px 2px 12px;
    border-top: solid 2px #006291;
    background: white;
}
table.serfframe td img {
    border: solid 1px #B5BD7A;
}

table .logo {
	float: left;
    font-size: 30px;
    margin-left: 20px;
	padding-top: 10px;
}

table.clocktable {
    border-collapse: separate;
    border: none;
}
table.clocktable td {
    padding: 0;
    border: none;
    background: none;
}

#blockwait {
    color: black;
    font-size: 18px;
    padding-top: 8px;
}
#blocktimer {
	color: black;
    font-size: 18px;
    padding-top: 10px;
    height: 50px;
}
#blocktimer input {
	text-align: center;
    color: black;
    padding: 10px 0;
    font-size: 18px;
    background-color: rgba(0,0,0,.1);
    border: 1px solid;
    display: inline-block;
    margin-left: 10px;
}
#blocktimer span{
    color: black;
    font-size: 18px;
    display: inline-block;
    font-family: sans-serif;
}
.serfnum {
    font: 12px Tahoma, Arial, sans-serif;
    text-align: center;
    color: #ffffff;
    line-height: 1.7;
    background: url(/img/buks/btn-serf.png) no-repeat left top;
    height: 21px;
    width: 21px;
    vertical-align: middle;
    display: block;
    display: inline-block; /*ie*/
    text-decoration: none;
    outline: none;
    border: none;
    margin: 2px;
    padding: 0 0 0 0;
    cursor: pointer;
}
.serfnum:hover {
    background-position: left bottom;
}
div.blockerror {
    color: #AF0032;
    font-size: 16px;
    display: block;
    padding-top: 6px;
    height: 48px;
    margin-top: 4px;
}
div.blockerror span{
    font-size: 12px;
}
div.blocksuccess {
    color: #5B9F00;
    font-size: 16px;
    display: block;
    padding-top: 6px;
    height: 48px;
    margin-top: 4px;
}
div.blocksuccess span{
    font-size: 12px;
}

.loading {
    color: #367C91;
    text-align: left;
    margin-top:5px;
    background:url(/img/buks/loading2.gif) no-repeat left top;
    padding-bottom: 27px;
    margin-left: 40px;
    border: none;
    display: block;
}